/* .carouselBannerwrapper{
    height: 1040px;
     background-color: #FFFFFF;    
}
.b1banerheight{ 
	height: 1040px;  
	background-repeat: no-repeat;
    background-size: 100% 100%; 
 }  */
/* .logoBox{
	position: absolute;

}
.logoIMG{
	position: absolute;
    top: 45px;
    left: 100px !important;
    height: 75px !important;
    width: 125px !important;
    cursor: pointer;
} */
 /* .homepagecontentwrapp{
    height: 470px;
    margin-top: 137px;
 }
 .slide1{
    height: 465px;
    
     
    
   }
   .mtop100{
    position: absolute; 
    color: #fff;
    }
   .b1h1Title{
     
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 84px;
    margin-top: -67px;
}
.b1h2Title{    
    font-size: 60px;
    line-height: 1;
    letter-spacing: 1px;
    margin-left: 79px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -11px;
    font-weight: bold;
}
.b1h3Title{
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 77px;
    margin-top: -11px;

    
}
.appIMGwrapp{
    height: 300px;
    background-color:red;      
    margin-top: 54px;
}
.b1bannerImg{
   height: 330px; 
   margin-left: 12%; 
   
  
    
   
}
 
 .carousel-control-prev{

    height: 50px!important;
    width: 50px;
    background-color: black!important;
    margin-top: 314px;
    margin-left: 10px;
    border-radius: 50%; 
 } 
 .carousel-control-next{
    height: 50px!important;
    width: 50px;
    background-color: black!important;
    margin-top: 314px;
     margin-right: 10px;
     border-radius: 50%; 


 }
 .glyphicon-chevron-left{
     margin-top: -15px!important;
     margin-left: -15px!important;
    } 
 .glyphicon-chevron-right{
    margin-top: -15px!important;
    margin-right: -15px!important;
   

 }
  */