.autopilotwrapper00{
    height: 1310px;
    /* background-color: bisque; */
}
.autopilotwrapper{
    height:1350px ;
    width: 100%;
    background-image: url("/images/0001.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -21px;

}
.dashboxauto{

      margin-top: 317px;  
     
    
}
.dashBoxS{
    list-style: none;
      position: relative;
      left: 67px;
      height: 20px;
      top: 20px;
      margin-top: 20px;
  }
.dash1OS,.dash3OS {
   height: 1px;
   width: 20px;
   margin:2px;
   border: 2px solid #f1f1f1;
   border-radius: 10px;
}
.dash2OS{
   height: 1px;
   width: 50px;
   margin:2px;
   border: 2px solid #f1f1f1;
   border-radius: 10px;
}
.mainrow{
    height: 108px;
     /* background-color: salmon;  */
     width: 66%;
     margin-left: 15%;
      margin-top: -41px;  
     position: absolute;
}
.Auopilot{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #f1f1f1;

}
.ecomeplatofrm{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;

}
.Auotmaincontentwrapper{
    height: 400px;
    margin-top: -27px;
}
.leftimageframework{
     height: 405px;
    
    
}
.leftsideimg{
    height: 454px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto; 
    margin-top: 101px; 
    margin-left: -8%;

}
.autocontentframework{
    height: 370px;
    
    
}
.paragraphfasttrack00{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
     /* margin-left:12%;  */
    color: #f1f1ff;
    letter-spacing: 0.5px;
    font-weight: 550; 
    padding-top: 207px;

    

}
.loremIpsum1{
    font-size: 30px;
    font-weight: bold;
}
.paragraphfasttrack02{
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   /* margin-left:12%;  */
   color: #f1f1ff;
   margin-top: 40px;
   letter-spacing: 0.5px;
   font-weight: 550; 


}
.ftracermore00{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    /* margin-left:12%; */
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1!important;
    width: 19%;


}
.arrow00{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine;  */
    margin-top: -40px;
    margin-left: 128px;
    font-size: 30px;
    color: #f1f1f1;
    padding-top: -10px;
}
/* ============================================= Media Query=================================================================== */
@media (max-width:767px){
    .autopilotwrapper00{
        height: 2310px;
         /* background-color:#ccc;   */
         
    }
    .autopilotwrapper{
        height:2320px;
        background-size: 200% 108%;
        
        
        
    }
    
    .mainrow{
        height: 200px;
        width: 100%;
        margin-left:0%;
        text-align: center;

    }
    .Auopilot{
        font-size: 24px;
    }
    .ecomeplatofrm{
        font-size: 24px;
    }
    .leftsideimg{
        width: 100%;
        margin-left: -3%;

    }
    .ftracermore00{
        font-size: 18px!important;
        width: 33%!important;
        cursor: pointer;
    
    }
    .arrow00{
        font-size: 18px!important;
        margin-left: 103px!important;
         margin-top: -31px!important;   
       
    }
}





/* ================================================Media Query end=============================================================== */