.autopilotwrapper00{
    height: 950px;
      background-color: #FFF!important;   
}
.autopilotwrapper{
    height:950px ;
    width: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.wrapperdashbox{
    height: 20px;
    margin-top: 129px;
   
}
.dashBox3{
    list-style: none;
    margin: auto;
  }
 .dashBox3 li{
     float: left;
     
     
     
 }
 .dash0a1,.dash0a3{
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
    margin-top: 45px;
}
.dash0a2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
    margin-top: 45px;

}



  .titlewrapper2{
    height: 60px;
    margin-top: -43px!important; 
 } 

.h1title000{
    font-size: 46px;
    color: #f1f1f1;
    margin-top: 100px;
    

}   
 .maincontentwrapper001{
    height: 400px;
  
} 
.leftimageframework{
    height: 405px;
    margin-top: 179px;
    
    
}
.leftsideimg{
    height: 391px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -23px;  
    

}
.autocontentframework{
    height: 370px;
    margin-top: 151px;
    
    
}
.paragraphfasttrack00{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1ff;
    letter-spacing: 0.5px;
    font-weight: 550; 
     padding-top: 48px;   

    

}

.ftracermore00{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    /* margin-left:12%; */
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1!important;
    width: 17%!important;


}
.arrow00{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine;  */
    margin-top: -40px;
    margin-left: 113px!important;
    font-size: 30px;
    color: #f1f1f1;
    padding-top: -10px;
}


/* ============================================= Media Query=================================================================== */
@media (max-width:767px){
   
}





/* ================================================Media Query end=============================================================== */