.businesswrapp{
    height: 850px;
   
}
.businessbgIMG{
    height:850px ;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   

}
.dashwrapp{
    height: 20px;
    margin-top: 155px;
}
 .dashBox1{
    list-style: none;
    margin: auto;
  }
 .dashBox1 li{
     float: left;
     
     
     
 }
 .dash01,.dash03{
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
}
.dash02{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
}
.titlewrapper1{
    height: 108px;
    /* background-color: chartreuse; */
   
    
}

.h1title00{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    margin-top: -28px;

}
.maincontentwrapper{
    height: 400px;
    margin-top: -12px;
   
}
.contentframework{
    height: 370px;
   
    
}
.hdescription{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #f1f1ff;
    letter-spacing: 0.5px;
    font-weight: 550; 

    

}
.ftracermore{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1!important;
    width: 17%!important;


}
.arrow{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine; */
    margin-top: -40px; 
    margin-left: 192px!important;
    font-size:30px;
    color: #f1f1f1;
    
}
.imageframework{
    height: 370px;
 
 }
 .sideimageftrack{
    height: 390px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 147px;
 }
 
 

