.madalbtn{
	position: fixed;
	bottom:  545px;
	right: 0px;
	z-index: 10;
}
.addressmodalclose:hover{
	cursor: pointer;
}
.btnbg{
    background-image: url(/images/contact.png);
    width: 115px;
    background-color:#f1f1f1;
    /* background-color: #fff; */
    box-shadow: 1px 1px 10px 0px #f1f1f1;
    border-radius: 40px 0px 0px 40px;
    height: 55px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btnbg:focus {
     outline: 0px auto -webkit-focus-ring-color; 
    /* outline-offset: -2px; */
}
#myModalOne{
	background-color: #fff;
	height: 500px;
        box-shadow: 2px 2px 20px 2px #666;
    margin-top: 56px;
    border-radius: 10px;
}
