.madalbtn{
	position: fixed;
	top: 100px;
	right: 2px;
	z-index: 10;
}
.addressmodalclose:hover{
	cursor: pointer;
}

#myModalOne{
	background-color: #fff;
	    height: 500px;
    margin-top: 56px;
    border-radius: 10px;
}