.dexpertisewrapper{
    height: 930px;
    /* background-color: coral; */
}
.dexpertizebgwrapper{
height: 920px;
background-image: url(/images/dexpertize.png); 
background-repeat: no-repeat;
background-size: 100% 100%;
}
.domainspace{
    height: 20px;
    /* background-color: red; */
     margin-top: 128px;
    
}
.dashdomalexperise{
    list-style: none;
    margin: auto;
    
  
}
.dashdomalexperise li{
  float: left;
}
.dash1dexpertise{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash2dexpertise{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash3dexpertise {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.domailtextwrapper{
    height: 60px;
    /* background-color: chocolate; */
    text-align: center;
    margin-top: 7px;
}
.domailh1{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #F1F1F1;
}
.domailh2{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color:#F1F1F1;
}
.domailwrapper{
    height: 472px;
    /* background-color: coral; */
}
.leftwrapperdomail{
     height: 405px;
    
    
}
.leftsideimgdomail{
    height: 454px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto; 
     margin-top: 36px;  
    margin-left: 8%; 

}
.domailcontentframework{
    height: 472px;
    /* background-color: coral; */
     padding-top: 74px; 

    
    
}
.paragraphdomail00{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
     /* margin-left:12%;  */
    color: #f1f1ff;
    letter-spacing: 0.5px;
    font-weight: 550; 
   
    

}
.loremIpsum1{
    font-size: 30px;
    font-weight: bold;
}
.paragraphdomail02{
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   margin-right:12%;  
   color: #f1f1ff;
   margin-top: 25px;
   letter-spacing: 0.5px;
   font-weight: 550; 


}
.ftracermore00{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    /* margin-left:12%; */
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1!important;
    width: 19%;


}
.arrow00{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine;  */
    margin-top: -40px;
    margin-left: 128px;
    font-size: 30px;
    color: #f1f1f1;
    padding-top: -10px;
}

