.endpossibwrapper{
    height: 719px;
    width: 100%;
     background-color:#FFFFFF;  
     
}
.dashboxwrapper{
    height: 20px;
    
  }
  .dashBox{
    list-style: none;
    margin: auto;
    
  
  }
  .dashBox li{
  float: left;
  }
  .dash1{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash3 {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px 2px solid #00ccff;
    border-radius: 10px;
  }
  


.endmainrow{
    height: 108px;
    margin-top: 28px; 
    
}
.h1titleless{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin-top: -53px;

}

.endlesscontentwrapper{
    height: 600px;
    margin-top: -27px;
    /* background-color: red; */
    
}
.enpsbcontent{
    height: 550px;
    /* background-color: darkgoldenrod; */
}
.headingtitle{
    height: 100px;
    

}
.mobileappd{
    font-size: 30px;
    font-family: 'Montseendpossibwrapperrrat', sans-serif;
    margin-left: 12%;
    color: #555555;
    letter-spacing: 0.5px;
    font-weight: bold;
    padding-top: 50px;
}
.paragraphendpsb01{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    letter-spacing: 0.5px;
    font-weight: 550; 
    margin-left: 12%;

    

    

}

.enspsbrmrr{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%; 
    color: #376BFF;
    cursor: pointer;
    border-bottom: 1px solid #376BFF!important;
     width: 17%;
    
    
    }
   .arrowenspsb{
    height: 100px;
    width: 30%;
    margin-top: -40px;
    margin-left: 192px; 
    font-size: 30px;
    color: #376BFF;
    padding-top: -10px;
   }
   .rightsideendpsbfw{
    height: 550px;
    margin-top: 50px;
    /* background-color: cadetblue; */
       
    }
    .rightsideimgendpsw{
        height: 500px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: auto; 
         margin-top: -51px;  
         /* margin-left: -8%; */
    
    }
 /* ====================================================Media Query==================================================================    */
    @media(max-width:767px){
        .endpossibwrapper{
            height: 1400px;
            /* background-color: chartreuse; */
        }
        .endmainrow{
            height: 100px;
            width: 100%;
            margin-top: 28px; 
            text-align: center;
            /* background-color: cadetblue; */
            margin-left: 0%;
            
            
        }
        .endlesspsb{
            font-size: 24px;
        }
        .endlesspsb00{
            font-size: 24px;
        }
        .mobileappd{
            font-size: 24px;
            margin-left: 0%;
        }
        .loremIpsum1{
            font-size: 24px;
        
        }
        .paragraphendpsb01{
            margin-left: 0%;
        } 
        .paragraphendpsb02{
            margin-left: 0%;
        } 
        .enspsbrmrr{
            margin-left: 0%!important;
            font-size: 18px!important;
            width: 33%!important;
            cursor: pointer;
        }
        .arrowenspsb{
         font-size: 18px!important;
         margin-left: 103px!important;
         margin-top: -31px!important;   

        } 
        .rightsideendpsbfw{
            margin-top: 250px;

        }
        
        .rightsideimgendpsw{
            margin-left: 0%;
            width: 100%;
        }
        
    }



 /* =======================================================Media Query end============================================================== */
    


