 .fastrachight{
    height: 1025px;
     /* background-color:#ccc;       */
      
     
 } 
 .ftrackwrapper{
     height:1050px ;
     width: 100%;
     background-image: url("/images/002.png"); 
     background-size: 100% 100%;
     background-repeat: no-repeat;
     margin-top: -21px;

 }
 .dashbox00{
     margin-top: 247px; 
     left: 67px;
     position: absolute;
     
 }
 .dash1OS,.dash3OS {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
}
.dash2OS{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
}
 .heading{
     height: 108px;
     /* background-color: salmon; */
      margin-top: 281px; 
     text-align: center;
 }
 .ftitle0{
     font-size: 46px;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     color: #f1f1f1;

 }
 .ftitle00{
     font-size: 46px;
     font-family: 'Montserrat', sans-serif;
     color: #f1f1f1;

 }
 .maincontentwrapper{
     height: 400px;
     /* margin-top: -52px; */
 }
 .contentframework{
     height: 370px;
     /* background-color: red;  */
     
 }
 .paragraphfasttrack{
     
     font-size: 18px;
     font-family: 'Montserrat', sans-serif;
     margin-left:12%;
     color: #f1f1ff;
     letter-spacing: 0.5px;
     font-weight: 550; 

     

 }
 .loremIpsum{
     font-size: 30px;
     font-weight: bold;
 }
 .paragraphfasttrack01{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #f1f1ff;
    /* margin-top: 40px; */
    letter-spacing: 0.5px;
    font-weight: 550; 


 }
 .ftracermore{
     font-size: 22px;
     font-family: 'Montserrat', sans-serif;
     margin-left:12%;
     color: #f1f1f1;
     cursor: pointer;
     border-bottom: 1px solid #f1f1f1!important;
     width: 19%;


 }
 .arrow{
     height: 100px;
     width: 30%;
     /* background-color: aquamarine; */
     /* margin-top: -45px; */
     margin-left: 208px;
     font-size: 34px;
     color: #f1f1f1;
     padding-top: -10px;
 }
 
 .imageframework{
    height: 370px;
     /* background-color: red;    */
}
.sideimageftrack{
    height: 454px;
    /* width: 100%; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* margin: auto;  */
    /* margin-top: -38px; */
    margin-left: 147px;
}
 
   