.listofServicesBox{

	height: 650px;
	background-image: url("../public/images/33.png");
	background-size: 100% 100%;
}
.hexListS1{
	background-image: url("/images/10.png");
	height: 245px;
	background-size: 100% 100%;
	position: relative;
	left: 25px;

}
.inhexaImg1{
	position: relative;
    top: 55px;
    height: 70px;
    left: 31.50%;
}
.inhexaContext1 {
   position: relative;
    margin-top: 70px;
    color: #666;
    /* font-weight: 500; */
    text-align: center;
    left: 0px;
}

/*dash ===== ======================== =============*/
.dashBoxLs{
  list-style: none;
  position: relative; 
  left: 35px;
  /*top: 10px;*/
}
.dashBoxLs li{
  float: left;
}
.dash1Ls,.dash3Ls {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash2Ls{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/


/*=================================================================================*/


.listofServicesBoxxs{

  height: 585px;
  background-image: url("../public/images/33.png");
  background-size: 100% 100%;
}
.hexListS1xs{
  background-image: url("/images/10.png");
  height: 165px;
  background-size: 100% 100%;
  position: relative;
  /*left: 25px;*/

}
.inhexaImg1xs{
    position: relative;
    top: 38px;
    height: 45px;
    left: 33%;
}
.inhexaContext1xs {
    position: relative;
    margin-top: 41px;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    left: 0px;
}

/*dash ===== ======================== =============*/
.dashBoxLsxs{
  list-style: none;
  position: relative; 
  left: 35px;
  /*top: 10px;*/
}
.dashBoxLsxs li{
  float: left;
}
.dash1Lsxs,.dash3Lsxs {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash2Lsxs{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
/* ---------------------------**** heading-------------------------------------------- */
.services{
  height: 100px;
  margin-top: -65px!important;
  margin-left: 740px;
  
}
.services1{
  font-size: 45px!important;
  text-align: center;
  letter-spacing: 2.0px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  padding-top: -10px;


}
.Hexagonwrapper{
  height: 998px;
   /* background-color: #ccc;  */
   margin-top: -20px;
}

/* .hexagon {
  position: relative;
  width: 300px; 
  height: 174px;
  background-color: #f6f6f6;
  margin-top: 95px;
  margin-left: 430px;
  border-radius: 5px;
  transform: rotate(-92deg);
  border:none!important;
  box-shadow: 4px 4px 4px  #ddd;
  

} */


/* .hexagon:before,.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-right:150px solid transparent ; 
  border-left:150px solid transparent; 
  z-index: 1;
  border-radius: 5px;
  /* box-shadow: 4px 4px 4px  #ddd; */

  
/* } 

/* .hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #f6f6f6;
  border-radius: 5px;
  /* box-shadow: 4px 4px 4px  #ddd; */

    

/* } 
/* .hexagon:after {
  top: 100%;
  border-top: 86.60px solid #f6f6f6;
  border-radius: 5px;
  /* box-shadow: 0px 0px 4px  #ddd; */


 
.hexagon1{
  background-image: url("/images/10.png");
   height: 270px; 
   width: 310px;
	 background-size: 100% 100%; 
	 position: absolute;
   left: 428px; 
    margin-top: -7px;

  
}
.images1{
  height: 60px;
  width: 60px;
  /* background-color: red; */
  margin-top: 64px;
  margin-left: 124px;
  background-image: url("/images/5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.heprizeapps{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;

}
.hexagon2{
  background-image: url("/images/11.png");
  height: 270px; 
  width: 310px;
  background-size: 100% 100%; 
  position: absolute;
  left: 428px;
  margin-top: 231px;

}
.h1services{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 125px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;


}

.hexagon3{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 310px;
  background-size: 100% 100%; 
  position: absolute;
  left: 428px;
  margin-top: 468px;

}
.images2{
  height: 60px;
  width: 60px;
  /* background-color: red; */
  margin-top: 64px;
  margin-left: 124px;
  background-image: url("/images/8.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.hstaffaugmtion{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;


} 
.hexagon4{
  background-image: url("/images/10.png");
  height: 270px; 
   width: 310px;
  background-size: 100% 100%; 
  position: absolute;
  left: 219px;
  margin-top: 115px;

}
.images3{
  height: 60px;
  width: 60px;
  /* background-color: red; */
  margin-top: 81px;
  margin-left: 124px;
  background-image: url("/images/4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.hwebapps{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 9px;

}

.hexagon5{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 310px;  background-size: 100% 100%; 
  position: absolute;
  left: 217px;
  margin-top: 351px;

}
.images4{
  height: 60px;
  width: 60px;
  /* background-color: red; */
  margin-top: 81px;
  margin-left: 124px;
  background-image: url("/images/9.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.hbportals{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 9px;

}
.hexagon6{
  background-image: url("/images/10.png");
  height: 270px; 
   width: 310px;
  background-size: 100% 100%; 
  position: absolute;
  left: 636px;
  margin-top: 114px;

}
.images5{
  height: 60px;
  width: 60px;
  /* background-color: red; */
  margin-top: 81px;
  margin-left: 124px;
  background-image: url("/images/6.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.hmapps{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 9px;

}
.hexagon7{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 310px;
  background-size: 100% 100%; 
  position: absolute;
  left: 639px;
  margin-top: 350px;

}
.images6{
  height: 60px;
  width: 60px;
  /* background-color: red; */
  margin-top: 81px;
  margin-left: 124px;
  background-image: url("/images/7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.heportal{
  height: 50px;
  width: 150px;
  margin-left: 84px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 9px;

}





/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/