.mvisionwrapp{
    height: 850px;
    /* background-color: #fff; */
   
}
.mvisionBgIMG{
    height: 850px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.dashwrapp {
    height: 20px;
    margin-top: 139px;
    padding-top: 17px;
}


 .dashBox1{
    list-style: none;
    margin: auto;
  }
 .dashBox1 li{
     float: left;
}
 .dash01,.dash03{
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
}
.dash02{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
}
.titlewrapper1{
    height: 108px;
    /* background-color: chartreuse; */
   
    
}

.h1title00{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    margin-top: 14px;


}
.maincontentwrapper{
    height: 400px;
    margin-top: -12px;
   
}
.contentframework{
    height: 370px;
   
    
}
.hdescription{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #f1f1ff;
    letter-spacing: 0.5px;
    font-weight: 550; 

    

}
.ftracermore{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1!important;
    width: 17%!important;


}
.arrow{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine; */
    margin-top: -40px; 
    margin-left: 192px!important;
    font-size:30px;
    color: #f1f1f1;
    
}
.imageframework{
    height: 370px;
 
 }
 .sideimageftrack{
    height: 390px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 147px;
 }
 


































.MVwrapper{
	padding: 0px;
	
}

.mvBox1{
	height: 610px;
	/*background-color: #f3f0f0;*/
    background-color: #21336c;
    color: #fff;
}
.mvBox2{
height: 610px;
    /*background-color: #21336c;*/
    /*background-color: #f3f0f0;*/
    color: #111;
}
.mvinfoImg1 {
    height: 405px;
    margin-top: 85px;
}
.mvinfotext1{
	position: relative;
	top: 120px;
}
.mvheadingb1{
	position: relative;
}
.mvpara1{
	position: relative;
	    top: 28px;
    font-size: 16px;
    letter-spacing: 1.2px;
}
.mvrdmore{
	position: relative;
	top: 60px;
	letter-spacing: 1px !important;
    color: #376bff !important;
    font-weight: 600;
}
.mvrdmore span{

}


/*dash ===== ======================== =============*/
.dashBoxmv{
    list-style: none;
    position: relative;
    left: -31px;
    top: 0px;
    margin-bottom: 20px;
}
.dashBoxmv li{
  float: left;
}
.dash1mv,.dash3mv {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash2mv{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/



/*===============================================================================*/
/*-------------------------------------------------------------------------------*/
/*===============================================================================*/
.MVwrapperxs{
    padding: 0px;
    
}

.mvBox1xs{
    height: 750px;
    background-color: #f3f0f0;
}
.mvBox2xs{
    height: 710px;
    /*background-color: #f3f0f0;*/
}
.mvinfoImg1xs {
    height: 235px;
    margin-top: 85px;
    margin-left: 25px;
}
.mvinfoImg2xs {
    height: 235px;
    margin-top: 32px;
    margin-left: 55px;
}
.mvinfotext1xs{
    position: relative;
    top: 75px;
}
.mvheadingb1xs{
    position: relative;
    text-align: center;
}
.mvpara1xs{
    position: relative;
        top: 28px;
    font-size: 16px;
    letter-spacing: 1.2px;
}
.mvrdmorexs{
    position: relative;
    top: 25px;
    letter-spacing: 1px !important;
    color: #376bff !important;
    font-weight: 600;
}
.mvrdmore span{

}


/*dash ===== ======================== =============*/
.dashBoxmvxs{
    list-style: none;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
}
.dashBoxmvxs li{
  float: left;
}
.dash1mvxs,.dash3mvxs {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash2mvxs{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/