.Nawardswrapp{
    height: 850px;
    background-color: #fff!important; 
}
.NawardsBgIMG{
    height: 850px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.awardwrapp{
    height: 20px;
    margin-top: 155px;
}
 .dashBoxNA{
    list-style: none;
    margin: auto;
}
 .dashBoxNA li{
     float: left;
}
 .NAdash1,.NAdash3{
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
}
.NAdash2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
}
.NAh1title{
    height: 108px;
    /* background-color: chartreuse; */
}

.nah1title00{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    /* margin-top: -28px; */
}
.narionalawardwrapp{
    height: 350px;
     /* background-color: red;  */
}
.awardleftwrapp{
    height: 350px;
    /* background-color: rosybrown; */
}
.awardIMG{
    height: 345px;
    margin-left: 10%;;
}
.NATextwrapp{
    height: 350px;
    margin-left: -40px;
}
.NAtextwrapp1{
    height: 50px;
}
.NAh1title{
    
    font-size: 24px;
    color: #f1f1f1;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.NAhetitle{
    font-size: 18px;
    color: #f1f1f1;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
}
.tabwrap{
    height: 400px;
    /* background-color: blue; */
    margin-top: -58px; 
}
.iassureaward{
    height: 170px;
    
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 80px;
}
.bgcolorhide:hover, .nav-pills:active{
    background-color: transparent !important;
}


