.OurSpecialityHeight{
	height: 965px;
	background-image: url("/images/12.png");
	background-size: 100% 100%;
	width: 100%;
}
.mtop111{
    position: relative;
    top:150px;
}

.whiteclr{
  color: #fff;
}
.demoTitle{
	margin-left: 44%;
    margin-top: 20%;
}
.osDiv{
	
	height: 350px;
	top: 85px;
	position: relative;
}
.bhead{
	position: relative;
	/*top: -100px;*/
}
.col1{
	height: 375px;
	background-color: #fff;
	border-radius: 10px;
}
.col2{
	height: 375px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 10px;
}
.iconCircle{
	height: 115px;
    position: relative;
    width: 115px;
    left: 27.50%;
    top: 25px;
    background-color: #effbee;
    border-radius: 50%;
}
.innerCircle{
	position: relative;
    height: 45px;
    top: 30px;
    left: 35px;
}
.sptextBox1{
	position: relative;
	top: 27px;
}
.sptextBox1 h2{
	font-weight: 500;

}
.sptextBox1 p{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 0px;
    color: #666;
    letter-spacing: 1.2px;
}

.rmore{

  
        /*margin-top: 8px;*/
    position: relative;
    top: 20px;
    letter-spacing: 1.2px !important;
    color: #376bff !important;
    font-weight: 600;
}
/* ================================================================= */
/*dash ===== ======================== =============*/
.dashBoxOS{
  list-style: none;
  position: relative; 
  left: 25px;
  top: 0px;
}
.dashBoxOS li{
  float: left;
}
.dash1OS,.dash3OS {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.dash2OS{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #fff;
    border-radius: 10px;
}
/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/


/*===================================================================================*/
/*===================================================================================*/
/*============================ Mobile view ==========================================*/
/*===================================================================================*/
/*===================================================================================*/



.nopadding{
    padding: 0px;
}
.xsOurSpecialityHeight{
    height: 1080px;
    /*top: -290px;*/
    position: relative;
    background-image: url(/images/12.png);
    background-size: 200% 108%;
    /* width: 100%; */
}

.xswhiteclr{
  color: #111;
}
.demoTitle{
    margin-left: 44%;
    margin-top: 20%;
}
.xsosDiv{
    height: 350px;
    top: 58px;
    position: relative;
}
.xsbhead{
    position: relative;
    /*top: -100px;*/
}
.xscol1{
    height: 290px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 20px 2px;
}
.xscol2{
    height: 290px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
}
.xsiconCircle{
    height: 90px;
    position: relative;
    width: 90px;
    left: 67px;
    top: 10px;
    background-color: #effbee;
    border-radius: 50%;
}
.xsinnerCircle{
    position: relative;
    height: 45px;
    top: 20px;
    left: 25px;
}
.xssptextBox1{
    position: relative;
    top: -7px;
}
.xssptextBox1 h2{
    font-weight: 500;

}
.xssptextBox1 p{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 0px;
    color: #666;
    letter-spacing: 1.2px;
}

.xsrmore{

  
        /*margin-top: 8px;*/
    position: relative;
    top: 20px;
    letter-spacing: 1.2px !important;
    color: #376bff !important;
    font-weight: 600;
}
/* ================================================================= */
/*dash ===== ======================== =============*/
.xsdashBoxOS{
  list-style: none;
  position: relative; 
  left: 25px;
  top: 0px;
}
.xsdashBoxOS li{
  float: left;
}
.xsdash1OS,.xsdash3OS {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.xsdash2OS{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/