.banerpageheight{
	height: 740px;
	/* background-color: chocolate;  */
}
.banerSBheight{
	height: 735px;
	width: 100%;
	background-image: url("/images/27.png");
	background-size: 100% 100%;
}
.logoBox{
	position: absolute;
	z-index: 50;

}
.logo{
	position: absolute;
    top: 45px;
    left: 90px;
}
.mtop100SB{
	height: 300px;
	width: 100%;
	/* background-color: chocolate;  */
	margin-top: 219px;
	color: #fff;
	padding-left: 55px;
}
.h1TitleSB{
	font-size: 40px;
	letter-spacing: 1px;
	font-family: 'Roboto Condensed', sans-serif;

}
.h2TitleSB{
	    font-size: 60px;
    line-height: 1;
    letter-spacing: 2.5px;
	font-weight: 1000;
	font-family: 'Roboto Condensed', sans-serif;

	
}
.h3TitleSB{
	font-size: 24px;
	letter-spacing: 1px;
	font-family: 'Roboto Condensed', sans-serif;
}
.bannerImgSB{
	height: 475px;
	margin-top: 54px;
}























/* ===========================previous design============================================ */
/* .banerSBheight{
	height: 635px;
	width: 100%;
	background-image: url("/images/27.png");
	background-size: 100% 100%;
} */
/* .bannerImgSB{
	height: 475px;
	margin-top: 135px;
} */
/* .mtop100SB{
	margin-top: 255px;
	color: #fff;
} */
/* .h1TitleSB{
	font-size: 36px;
	letter-spacing: 1px;
}
.h2TitleSB{
	    font-size: 82px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;;
}
.h3TitleSB{
	font-size: 27px;
    letter-spacing: 1px;
} */
/* .logoBox{
	position: absolute;
	z-index: 50;

}
.logo{
	position: absolute;
    top: 45px;
    left: 90px;
} */
.menuimg{
	height: 35px;
    position: fixed;
    top: 50px;
    right: 95px;
    z-index: 10;
    /*filter: invert(100%);*/
}
.menuimg:hover{
	cursor: pointer;
	caret-color: red;
}

/*=======================================================================================*/
/*=======================================================================================*/
/*============================ Mobile view ==============================================*/
/*=======================================================================================*/
/*=======================================================================================*/

.banerSBheightxs{
	height: 685px;
	width: 100%;
	background-image: url("/images/27.png");
	background-size: 100% 100%;
}
.bannerImgSBxs{
    height: 335px;
    margin-top: 0px;
    margin-left: 33px;
}
.mtop100SBxs{
    margin-top: 155px;
    color: #fff;
    margin-left: 35px;
    text-align: center;
}
.h1TitleSBxs{
	font-size: 36px;
	letter-spacing: 1px;
}
.h2TitleSBxs{
	font-size: 46px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;;
}
.h3TitleSBxs{
	font-size: 27px;
    letter-spacing: 1px;
}
.logoBoxxs{
	position: absolute;

}
.logoxs{
	position: absolute;
    top: 45px;
    left: 90px;
}
.menuimgxs{
	height: 35px;
    position: fixed;
    top: 50px;
    right: 95px;
    z-index: 10;
    /*filter: invert(100%);*/
}
.menuimgxs:hover{
	cursor: pointer;
	caret-color: red;
}