.TestimonialsHT{
	height: 790px!important;
	/* background-color: red!important;  */
    background-image: url("/images/portbg.png"); 
    background-color: #fefefe; 
    background-size: 100% 100%;
    margin-top: 13px;  
    color: #555;
}

.hlimit600{
    font-size: 22px;
     height: 172px; 
    text-align: justify-all;
    text-overflow: ellipsis;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
.hlimit600xs{
       height: 272px;
       font-size: 20px;
       text-align: justify-all;
    text-overflow: ellipsis;
}
.demoTitle{
	margin-left: 44%;
    margin-top: 20%;
}
.testimonialBox{
	height: 328px;
	position: relative;
    left: auto; 
    right: auto;
    /* top: 94px; */
	background-color: #fff;
	border: 1px solid #efefef;
	border-radius: 10px;
	box-shadow: 2px 2px 20px 5px #dad6d6;
}
.testimonialBoxxs .owl-theme .item{
	height: 295px !important;
}
.testimonialList{
	position: relative;
	/*top: 30px;*/
	z-index: 20;
	padding: 0px 10px;
}
.owl-theme .owl-nav {
	position: relative !important;
    top: -80px !important;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.arrows .owl-nav button.owl-prev{
	position: relative;
	left: 245px;
	z-index: 25;
    
    width: 45px !important;
    height: 45px !important;
    background-color: #eee !important;
    border-radius: 52%!important;
    
    margin-left: -7px;
    width: 25px;
    height: 32px;  
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.arrows .owl-nav  button.owl-next{
   
   position: relative;
   left: 250px;
    background: transparent !important;
    border-radius: 0px !important;
    width: 45px !important;
    height: 45px !important;
    background-color: #376bff !important;
    border-radius: 52%!important;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.arrows .owl-nav  button.owl-next:hover{
	background-color: #44e!important;
}
.arrows .owl-nav  button.owl-next:focus{
    outline: none !important;
}
.arrows .owl-nav  button.owl-prev:focus{
    outline: none !important;
}
.arrows .owl-nav  button.owl-next:hover{
    color: #333 !important;
}
.arrows .owl-nav button.owl-prev:hover{
    color: #333 !important;
}

.profileTesti{
	position: relative;
    top: 10px;
    height: 65px;
    width: 69px !important;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 2px 2px 17px 2px #666;
    padding-right: 0px!important;
}
.custName{
    line-height: 1.25;
    position: relative;
    top: 5px;
    font-family: 'Montserrat', sans-serif;

}
.nmclr{
    color: #376bff;
    font-family: 'Montserrat', sans-serif;

}

/*dash ===== ======================== =============*/
.dashBoxTm{
height: 100px;
/* width: 300px; */
/* background-color: red; */
list-style: none;
position: relative; 
left: 25px;
top: -19px; 
}
.dashBoxTm li{
  float: left;
}
.dash1Tm,.dash3Tm {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash1Tm{
    margin-left: 63px;
}
.dash2Tm{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
/*  /  /  / /  /  / / /  / Dash   /   /   / /   /   /   /   /   /   /  / / /*/

.testimonialBoxxs{
  height: 475px;
  position: relative;
  left: 0px;
  top: 30px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 10px;
  
  box-shadow: 2px 2px 20px 5px #dad6d6;

}
.testimonialBoxxs .owl-theme .item{
  height: 535px !important;
}

.testimonialBoxxs .arrows .owl-nav button.owl-prev {
    position: relative;
    left: 99px;
    top: -44px;
    z-index: 25;
    width: 45px !important;
    height: 45px !important;
    background-color: #eee !important;
    border-radius: 52%!important;
    margin-left: -7px;
    width: 25px;
    height: 32px;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}

.testimonialBoxxs .arrows .owl-nav button.owl-next {
    position: relative;
    left: 101px;
    top: -44px;
    background: transparent !important;
    border-radius: 0px !important;
    width: 45px !important;
    height: 45px !important;
    background-color: #376bff !important;
    border-radius: 52%!important;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.bgw{
    background-color: #fff;
}
.testimonialscarousel{
    margin-top: 300px!important;
    
}
.clienttestmonials{
    margin-top: -111px!important;
    height: 100px;
    width: 400px;
    /* background-color: yellow; */
    left: 100px;
    font-family: 'Montserrat', sans-serif;

    
}
.carousal1{
    margin-top: -10px;
    background-color: #44e;
}
/* ===========================================================Media Query============================= */
@media (max-width:767px){
    .dashBoxTm{
         
        padding-top: 87px;
        padding-left: 54px;
        
      
       } 
       .clienttestmonials{
            left: -19px; 
            /* font-size: 15px!important;   */
           
       }  
       .xsclientview{
           font-size: 42px;
           margin-top: 175px;
           margin-left: 41px;
       }
       .testimonialBox{
           height: 498px;
           width: 117%;
            left: -4px; 
            /* background-color: red;  */
           
       }
       .arrows .owl-nav button.owl-next{
           left: 101px;
           top:-118px;
       }
      .arrows .owl-nav button.owl-prev{
       left: 102px;
       top:-118px;
       }
       .profileTesti{
           top: -40px;


       }
       .hlimit600{
           font-size: 17px;
            height: 350px;
            width: 100%;
            
            
            
       }
        
       .custName{
          height: 107px;
          margin-top: -32px;
          font-size: 15px;
      } 


       
       
}
