.testimonialwrapper{
    height: 550px;
     /* background-color: #262626;       */
}
.bgIMG{
    height: 550px;
    background-image: url("/images/tbgIMG.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.dashBoxTmwrapp{
    height: 20px;
    /* background-color: red;  */
    
    }
    .dashBoxTm{
        list-style: none;

    }
        
    .dashBoxTm li{
      float: left;
    }
    .dash1Tm,.dash3Tm {
        height: 1px;
        width: 20px;
        margin:2px;
        border: 2px solid #00ccff;
        border-radius: 10px;
    }
    
    .dash2Tm{
        height: 1px;
        width: 50px;
        margin:2px;
        border: 2px solid #00ccff;
        border-radius: 10px;
    }
    .clienttestmonials{
        height: 100px;
        /* background-color: yellow;  */
        font-size: 46px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        text-align:center ;

         
        
    }
   .carousel-control.left, .carousel-control.right{
       background-color: transparent;
   }
   .img-area{
       width: 150px;
       height: 150px;
       margin: auto;
       border: 2px solid #FFFFFF;
       border-radius: 50%;
       overflow: hidden;
   }
   .img-area img{
       width: 100%;
   }
   .carousel-caption{
       position: static;
       padding-bottom: 15px;
       padding-top: 0px;
   }
   .testimonialWriter,.writerDetails{
       font-size: 26px;
       margin-bottom: 15px;
       margin-top: 25px;
   }
   .carousel-indicators{
       bottom: -35px;

   }
   
   .testContent{
       font-size: 18px;
       width: 70%;
       margin: auto;
       margin-top: 10px;
   }
  
    .carousel-control.left,.carousel-control.right{
       background-image: none;
   } 
   
















/* ===========================================================Media Query============================= */
@media (max-width:767px){
    /* .TestimonialsHT{
        background-size:0 0;
    } */
    .dashBoxTm{
         width: 60%;
         padding-top: 50px;
         } 
         
         .dash1Tm{
            margin-left: 29%;
        }
       .clienttestmonials{
           width: 100%;
           margin-top: -62px!important;
           /* background-color: blue; */
            
             
           
       }  
       
       .testimonialBox{
           height: 523px;
           width: 108%;
            left: 1%; 
            top:47px
            
            /* background-color: red;  */
           
       }
       .arrows .owl-nav button.owl-next{
           left: 101px;
           top:-118px;
       }
      .arrows .owl-nav button.owl-prev{
       left: 102px;
       top:-118px;
       }
       .profileTesti{
           top: -40px;


       }
       .hlimit600{
           font-size: 14px;
            height: 350px;
            width: 100%;
            padding-top: 20px;
            padding-left: 27px;
            
            
            
       }
        
       .custName{
          height: 107px;
          margin-top: -32px;
          font-size: 15px;
      } 
      /* .dash1Tm{
         margin-left:-0px!important;
      } */


       
       
}
