.uexperiencewrapp{
    height: 700px;
    background-color: #fff!important;
   
}
.boxspace{
    height: 20px;
    /* background-color: red; */
    margin-top:23px;
}
.dashmtechnology{
    list-style: none;
    /* margin: auto; */
    
  
}
.dashmtechnology li{
  float: left;
}
.dash1mtechnology{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash2mtechnology{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.dash3mtechnology {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
}
.mtelogytextwrapper{
    height: 108px;
    

}
.h1title00mm{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-top: 14px;
}

.bgwrapper{
    height: 494px;
    /* background-color: coral; */
    margin-top: 53px;
}
.mtechlogywrapp{
    height: 370px;
    /* background-color: red;  */
    
}
.paragraphmtech01{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #555555;
    letter-spacing: 0.5px;
    font-weight: 550; 

    

}

.mtechracermore{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%;
    color: #376BFF;
    cursor: pointer;
    border-bottom: 1px solid #376BFF!important;
    width: 19%;


}
.arrowmtech{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine; */
    margin-top: -40px; 
    margin-left: 190px;
    font-size:30px;
    color: #376BFF;
    
}

.imageframemtechlogy{
   height: 428px;
    
}
.sideimagemtechlogy{
   height: 440px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   /*margin-left: 86px;*/
}


