.WhoWeAre{
	
}


.wwBox1{
	height: 610px;
	background-color: #f3f0f0;
}
.wwBox2{
	height: 610px;
	/*background-color: #f3f0f0;*/
}
.winfoImg1 {
    height: 405px;
    margin-top: 85px;
}
.winfotext1{
	position: relative;
	top: 120px;
}
.wheadingb1{
	position: relative;
}
.wpara1{
	position: relative;
	    top: 28px;
    font-size: 16px;
    letter-spacing: 1.2px;
}
.wrdmore{
	position: relative;
	top: 60px;
	letter-spacing: 1px !important;
    color: #376bff !important;
    font-weight: 600;
}
.wrdmore span{

}