.WhyiAssureheight{
	height: 2400px;
	
}
.wBox1{
	height: 610px;
	background-color: #f3f0f0;
}
.wBox2{
	height: 610px;
	/*background-color: #f3f0f0;*/
}
.infoImg1 {
    height: 405px;
    margin-top: 85px;
}
.infotext1{
	position: relative;
	top: 120px;
}
.headingb1{
	position: relative;
}
.para1{
	position: relative;
	    top: 28px;
    font-size: 16px;
    letter-spacing: 1.2px;
}
.rdmore{
	position: relative;
	top: 60px;
	letter-spacing: 1px !important;
    color: #376bff !important;
    font-weight: 600;
}
.rdmore span{

}