.cAwrapper{
	background-image: url("/images/1.png");
	height: 275px;
	margin-top: -25px;
	background-attachment: fixed;
}
.bText{
	text-align: center;
	position: relative;
	top: 35%;
	color: #fff;

}
