.PortfolioHT{
	height: 600px;
	background-color: #c5c;
	width: 100%;
}
.demoTitle{
	margin-left: 44%;
    margin-top: 20%;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    
}
.gallery-title:after {
    content: "";
    position: relative;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    /* font-size: 18px; */
    border: 1px solid #2d2d2d;
    text-align: center;
    padding: 5px 20px;
    margin: 0px 5px;
    color: #313130;
    background-color: #ffffff;
    /* margin-bottom: 30px; */
}

.filter-button:focus  {
	outline:none;
    background-color: #5a7af3 !important;
    color: white;
    border: none !important;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
	padding: 10px;
	background-color: #fff;
    margin-bottom: 30px;
}

/*.active{
	background-color: #5a7af3 !important;

}*/