.footerBlock{
	height: 341px;
    background-color: #376bff; 
     
    
    
}
 .footerTop{
   height: 291px;
   background-size: 100% 100%; 
 
 }  
 .wrap1{
     height: 291px;
    /* background-color: red;   */
 }
 .wrap2{
    height: 291px;
   /* background-color: red;   */
}
.wrap3{
    height: 291px;
   /* background-color: red;   */
}
.wrap4{
    height: 291px;
   /* background-color: red;   */
}
 .subwrapp1{
    height: 291px;
    }
    
  .subwrapp2{
        height: 291px;
    }
   .subwrapp3{
        height: 291px;
    }
    .subwrapp4{
        height: 291px;
    }
    
    
    
.footer1{
    height: 290px;
    width: 100%;
        
}
.footer2{
    height: 290px;
    width: 100%;
        
}
.footer3{
    height: 290px;
    width: 100%;
        
}
.footer4{
    height: 290px;
    width: 100%;
        
}
.menubartitle1{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
   margin-left: -40px;  
   padding-top: 30px;
   }
   .menubartitle2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
   margin-left: -40px;  
   padding-top: 30px;
   }
   .menubartitle3{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
   margin-left: -40px;  
   padding-top: 30px;
   }
   .menubartitle4{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
   margin-left: -40px;  
   padding-top: 30px;
   }



   .footertitle1{
    color: #f1f1f1f1;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -40px; 
 
}
.footertitle2{
    color: #f1f1f1f1;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -40px; 
 
}
.footertitle3{
    color: #f1f1f1f1;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -40px; 
 
}

.footerTop ul{
	list-style: none;
}
 .footer1 a{
    text-decoration: none;
    color: #fff;

} 
.linkedinwrap{
    height: 40px;
    width: 40px;
    margin-top: 14px;
    position: absolute;
    border-radius: 50%;
    background-color: #f1f1f1;   
}
.linkedinicon{
    font-size: 24px;
    color: #00145b;
    margin-top: 9px ;
    margin-left: 9px;
}
.linkedinwrap:hover{  
    cursor: pointer;  
    color : #fff; 
    background-color: #376bff;
    border: 1px solid #fff;     
}
 .facebookwrap{
    height: 40px;
    width: 40px;
    margin-top: 14px;
    position: absolute;
    border-radius: 50%;
    background-color: #f1f1f1;  
    margin-left: 65px; 
}
.facebookicon{
    font-size: 24px;
    color: #00145b;
    margin-top: 10px ;
    margin-left: 12px;
}
.facebookwrap:hover{  
    cursor: pointer;  
    color : #fff; 
    background-color: #376bff;
    border: 1px solid #fff;     
} 
.youttubewrap{
    height: 40px;
    width: 40px;
    margin-top: 14px;
    position: absolute;
    border-radius: 50%;
    background-color: #f1f1f1;  
    margin-left: 132px;
}
.youtubeicon{
    font-size: 24px;
    color: #00145b;
    margin-top: 9px ;
    margin-left: 6px;
}
.youttubewrap:hover{  
    cursor: pointer;  
    color : #fff; 
    background-color: #376bff;
    border: 1px solid #fff;     
}
.menubartitle2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
   margin-left: -40px;  
   padding-top: 30px;
   }
   .contactBtn{
    position: relative;
    top: 72px;
    width: 150px;
    left: -27px; 
    border-width: 0px !important;
    height: 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
    align-items: flex-start;
    background-color: #68b8ef;
    border-color: none !important;

} 
.contactBtn:hover{
	color: #fff; 
    background-color: #286090; 
    border-color: #fff !important;  

 }
 .footerBottom{
	height: 50px;
	background-color: #283592;
} 
.mtop10{
	margin-top: 14px;
}
.copyright{
    color: #f1f1f1f1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.h1titlephone{
    color: #f1f1f1f1;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -19px;
    margin-left: 96px;
}

/* ================================Media Query================================================================= */
@media (max-width:767px){
    .footerBlock{
        height: 565px;
        /* background-color: red; */
        
    }    
    .footerTop{
        height: 500px;
       
    }
    .clrwt{
        margin-top: -100px;
    }
    .clrwt00{
        margin-top: 50px;
        
    }
    .clrwt000{
        margin-top: 50px;


    }
    .clrrr b{
        margin-left: 37px;

    }
    .supportheading{
        margin-left: 20%;
 
    }
    .addresstitle{
        margin-left: -30px;
    }
    /* .hmenutitle{
        margin-left: -15px;
    } */
   
    .copyright{
        color: #f1f1f1f1;
        font-size: 13px;
        width: 240%;
        margin-left: -17%;
        /* background-color: red; */
        margin-top: -10px;
        font-family: 'Montserrat', sans-serif;
        

    }
    .linkdin{
        height: 36px;
       margin-top: -62px;
       right: -105px;
        
    
    }
   
    
   

}