
.overlay1 {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:transparent;
  overflow-x: hidden;
  /*transition: 0.5s;*/
}
.overlay1a {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
;
  overflow-x: hidden;
  /*transition: 0.5s;*/
}

.overlay-content1 {
  position: relative;
  
  width: 100%;
  text-align: center;
  /*margin-top: 30px;*/
}

.overlay1 a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay1 a:hover, .overlay1 a:focus {
  color: #f1f1f1;
}

.overlay1 .closebtn1 {
  position: absolute;
  z-index: 999;
  color: #fff;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay1 a {font-size: 20px}
  .overlay1 .closebtn1 {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*===========================================*/
.customSpan{
  font-size:30px;cursor:pointer;
}

.hcol1{
  /*background-color: #333;*/
  height: 668px;
}
.hcol1a{
  height: 334px;
}
.hcol1b{
  height: 334px;
}
.mtop50{
  margin-top: 30%;
}
.hcol2{
  /*background-color: #222;*/
  height: 668px;
}
.hcol3{
  /*background-color: #111;*/
  height: 668px;
}
.commomcol1{
 height: 668px;
 background-color: #999;
 animation: slide-in-left1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.commomcol2{
 height: 668px;
 background-color: #666;
 animation: slide-in-left2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.commomcol3{
 height: 668px;
 background-color: #111;
 animation: slide-in-left3 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 overflow: hidden;
}

.rcommomcol1{
 height: 668px;
 background-color: #999;
  animation: slide-out-right1 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.rcommomcol2{
 height: 668px;
 background-color: #666;
  animation: slide-out-right2 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.rcommomcol3{
 height: 668px;
 background-color: #111;
  animation: slide-out-right3 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 overflow: hidden;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left1 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left1 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left2 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-33%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left2 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-33%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left3 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left3 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-66%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0%);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
    opacity: 0;
  }
}
@keyframes slide-out-right1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(66%);
            transform: translateX(66%);
    opacity: 0;
  }
}
@keyframes slide-out-right2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(66%);
            transform: translateX(66%);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes slide-out-right3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}
