.Mappdevwrapp{
    height: 1400px;
    background-color: #fff!important;
    
}
.mobileboxwrapp {
    height: 20px;
    padding-top: 5px;
    
}


 .MobileBox{
    list-style: none;
    margin: auto;
  }
 .MobileBox li{
     float: left;
}
 .Mdash01,.Mdash03{
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff!important;
    border-radius: 10px;
}

.Mdash02{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff!important;
    border-radius: 10px;
}
.mappdevtitlewrapp{
    height: 100px;
    
}
.h1mtitletext{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-top: 14px;
}
.subtitlewrapp{
    height: 200px;
    
    
}
.mh2subtitletext{
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    text-align: justify;

}
.devimagewrapp{
    height: 600px;
    

}
.devimagewrapp img {
    width: 100%;
}
.reptedblockwrapp{
    height: 300px;
    margin-top: 40px;
    
}
.mobileimg1{
    height: 300px;
    
    
}
.mobileimg2{
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4%;
    
    
}
.mobileimg2 img{
    width: 100%;
    margin-left: 2%;
    margin-top: 24px;
}


.mh1titletext{
    font-size: 20px;
    color: #555555;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}
/* ==========================================Media Query======================================== */
@media (min-width:992px) and (max-width:1200px){
    .Mappdevwrapp {
        height: 1215px!important;
        
    }
    .mobileboxwrapp {
        height: 20px;
        padding-top: 5px;
        
    }
    .Mdash01{
        margin-left: -17%!important;
    }
    .subtitlewrapp{
        height: 300px!important;
    }
    .devimagewrapp{
        height: 450px!important;
    }
    .devimagewrapp img {
        width: 100%;
    }
    .reptedblockwrapp{
    height: 300px!important;
    margin-top: 60px!important;
}
.mobileimg1{
    height: 210px!important;
}
 .mobileimg2{
    height: 204px!important;

        
    
}
 .mobileimg2 img{
    width: 100%!important;
    margin-left: 0%!important;
    margin-top: 32px!important;
} 


.mh1titletext{
    font-size: 16px!important;
    color: #555555;
    margin-top: 5px;
}
    }


@media (min-width:768px) and (max-width:991px){
    .Mappdevwrapp{
        height: 1700px!important;
    }
    .Mdash01{
        margin-left: 40%!important;
    }
    .devimagewrapp{
        height: 600px;
    }
    .devimagewrapp img {
        width: 100%;
        margin-top: 80px!important;
    }
    .reptedblockwrapp{
        height: 720px!important;
        margin-top: 40px;
    }
    .mobileimg1{
        height: 300px!important;
        margin-top: 23px!important;
        
        
    }
    .mobileimg2 img{
        width: 80%!important;
        margin-left: 11%!important;
        margin-top: 22px!important;
    }
   }
   

@media (max-width:767px){
    .Mappdevwrapp{
        height: 2310px!important;
     }
   .Mdash01{
        margin-left: 25%!important;
    }
    .h1mtitletext{
        font-size: 23px!important;
    }
    .subtitlewrapp{
        height: 530px!important;
    }
    .mh2subtitletext{
        font-size: 19px!important;
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        text-align: justify;
    }
    .devimagewrapp{
        height: 250px!important;
     }
     .reptedblockwrapp{
        height: 1300px!important;
        margin-top: 40px;
    }
    .mobileimg1{
        height: 300px;
        margin-top: 23px!important;
        
        
    }
    .mobileimg2 img{
        width: 90%!important;
        margin-left: 6%!important;
        margin-top: 7px!important;
    }
    .mh1titletext{
        font-size: 20px!important;
        color: #555555;
        margin-top: -5px!important;
    }
}
/* =============================================Media Query end===================================== */




