.customSpan{
  font-size:40px;
  cursor:pointer;
  position: fixed;
  top: 50px;
  right: 61px;
  color: #fff;
  z-index: 9;
}
.closebtn1 {
  position: absolute;
  z-index: 999;
  color: #fff;
  top: 20px;
  right: 50px;
  font-size: 60px;
}

.openMenu {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color:#333;
  overflow-x: hidden;
  /*transition: 0.5s;*/
}
.openMenu1 {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #333;

  overflow-x: hidden;
  transition: 0.5s
}
.topm a{
  text-decoration: none;
  color: #aaa;
}
.home:hover{
  transform: scale(1.15);
  transition: 0.5s;
  color: #fff;
}
.aboutus:hover{
  transform: scale(1.15);
  transition: 0.5s;
  color: #fff;
}
.Services:hover{
  transform: scale(1.15);
  transition: 0.5s;
  color: #fff;
}

.openMenu .closebtn1 {
  position: absolute;
  z-index: 999;
  color: #fff;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.topm{
  position: relative;
  top: 25%;
}
.homehover{
  background-image: url("/images/2.png");
  background-repeat: no-repeat;
}
.Serviceshover{
  background-image: url("/images/37.png");
  background-repeat: no-repeat;
}
.aboutushover{
  background-image: url("/images/6ec.png");
  background-repeat: no-repeat;
}
.portfoliohover{
  background-image: url("/images/32.png");
  background-repeat: no-repeat;
}
.contactushover{
  background-image: url("/images/38.png");
  background-repeat: no-repeat;
}

.myModalq{
  z-index: 10;
}
.mbtn{
  z-index: 9;
  position: fixed;
  top: 20px;
}
.logoab{
  margin-top: 3.25%;
  margin-left: 8%;
}
/* ==============================================Media Query ========================================= */
@media (min-width:769px) and (max-width:991px){
  .logoab{
    margin-top: 5.25%!important;
  
  }
  .customSpan {
   margin-top:2.25%!important;
     right: 6%;
   }
  

}
/* ================================================mobile view  ========================================== */
@media (min-width:469px) and  (max-width: 768px){
  .logoab{
    margin-top: 7.25%!important;
    margin-left: 4%!important;
  }
  .customSpan {
   
   margin-top:2.25%!important;
    right: 6%;
  }

}


@media (max-width: 468px){
  .customSpan {
   
    top: 46px;
    margin-right: -39px;
  }
  .logoab{
    margin-top: 11.25%;
    margin-left: 1%;
  }
   
}