.nopadd{
    padding: 0px;
}
.b1banerheight{
	height: 675px;
	background-image: url("/images/b1background.png");
    background-size: 100% 100%;
}
 .b1banerheight2{
    height: 1100px!important;

} 

.b1bannerImg{
    /* height: 450px; */
     margin-top: 278px; 
     width: 100% !important; 
}
 .b1bannerImg2{
    height: 550px;
     /* background-color: red;  */
     margin-top: 190px!important; 
     width: 100% !important; 
} 
 .b1bannerImg3{
    height: 345px;
    /* background-color: red; */
    margin-top: 220px;
    width: 90% !important;
    margin-left: 150px;
 }  
.b1bannerImg4{
     height: 450px; 
    margin-top: 188px; 
    
}
.b1bannerImg5{
    /* height: 492px; */
    margin-top: 100px;
    /* width: 90% !important; */
    /* background-position: 100% 100%; */
    /* margin-left: 10px; */
}
.slide1{
 height: 400px;
 margin-top: 130px;
}
.slide2{
    height: 400px;
    margin-top: 170px;
    /* background-color: red; */
 }
 .slide3{
    height: 400px;
    margin-top: 180px;
    line-height: 3px;
      
 }
 .slide4{
  height: 400px;
 margin-top: 180px;

 }
 .slide5{
    height: 400px;
   margin-top: 170px;
   /* background-color: red; */
  
   }
   
.mtop100{
position: absolute; 
color: #fff;
}
.mtop180{
margin-top: 180px;
color: #fff;
}
.b1h1Title{
    
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;
    padding-top: -400px!important;  

}
.h1applications{
    margin-top: auto;
}
.b1h2Title{
    
    font-size: 80px;
    line-height: 1;
    letter-spacing: 1px;
    margin-left: -50px!important;
    font-family: 'Roboto Condensed', sans-serif;
}
.b1h00{
    
    font-size: 80px;
    line-height: 1;
    letter-spacing: 1px;
    margin-left: -50px!important;
    font-family: 'Roboto Condensed', sans-serif;

 
}
.b1h3Title{
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;

    
}
.b10h1Title{
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;
} 
.b10h2Title{
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 1000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;

} 

/*0000000000000000000*/
.b4h1TitleB4{
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;

}
.b4h2TitleB4{
    font-size: 80px;
     line-height: 1; 
    letter-spacing: 1px;
    font-weight: 1000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;

}
.b5h1TitleB5{
   font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;
}
.b5h2TitleB5{
    font-size: 80px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 1000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -50px!important;

}

/*============*/

.h1TitleMobile{
	font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -40px!important;}
.h2TitleMobile{
	font-size: 80px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -40px!important;

}
.h3TitleMobile{
	font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -40px!important;

}

/*===========*/

.logoBox{
	position: absolute;

}
.logoIMG{
	position: absolute;
    top: 45px;
    left: 100px !important;
    height: 75px !important;
    width: 125px !important;
}
.menuimg{
	height: 35px;
    position: fixed;
    z-index: 10;
    top: 50px;
    right: 95px;
    /*filter: invert(100%);*/
}
.menuimg:hover{
	cursor: pointer;
	caret-color: red;
}

.homecarousel .owl-nav button.owl-prev{
    position: absolute;
    left: 0px;
    top: -250px;
	z-index: 25;
    width: 45px !important;
    height: 45px !important;
    background-color: #eee !important;
    border-radius: 52%!important;
    margin-left: -7px;
    width: 25px;
    height: 32px;  
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
 .homecarousel .owl-nav  button.owl-next{
    position: absolute;
    right:  0px;
    top: -250px;
    background: transparent !important;
    border-radius: 0px !important;
 	width: 45px !important;
    height: 45px !important;
    background-color: #eeeeee !important;
    border-radius: 52%!important;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
} 
/* .homecarousel.owl-theme .owl-dots .owl-dot span{
    
    width: 10px;
    height: 10px;
    background: #D6D6D6;
    display: block;  
    transition: opacity 200ms ease; 
    border-radius: 30px; 
} */
 
/*.homecarousel .owl-nav  button.owl-next:hover{
	background-color: #44e!important;
}*/
.homecarousel .owl-nav  button.owl-next:focus{
    outline: none !important;
}
.homecarousel .owl-nav  button.owl-prev:focus{
    outline: none !important;
}
.homecarousel .owl-nav  button.owl-next:hover{
    color: #333 !important;
}
.homecarousel .owl-nav button.owl-prev:hover{
    color: #333 !important;
}





/*=====================================================================================*/
/*   mobile view*/
/*=====================================================================================*/
.mtop100xs{
    margin-top: 109px;
    
	color: #fff;
	position: relative;
	right: 15px;
}
.h1Titlexs{
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
}
.h2Titlexs{
	font-size: 52px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;
	text-align: center;

}
.h3Titlexs{
	font-size: 27px;
	text-align: center;
    letter-spacing: 1px;
}

.abbannerImgxs{
height: 0px;
}

.logoxsb1{
position: absolute;
    top: 30px;
    height: 65px;
    width: 135px !important;
    left: 21px;
}
.menuimgxs{
	height: 30px;
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 20px;
    /*filter: invert(100%);*/
}
.menuimgxs:hover{
	cursor: pointer;
	/*caret-color: red;*/
}

.bannerImgxs{
	    height: 285px;
    margin-left: 30px;
	

}

/*====================================*Mobile view=================================================*/
    /* @media screen and (min-width: 768px) {
    .b1h1Title {
      font-size: 30px; 
      padding-left: 50px;
      position:absolute;
      
     }    */
     /* .b1h2Title,.b1h00{
         font-size: 40px;
         margin-left: 50px!important;
     }
     .b1h3Title{
         font-size: 15px;
         margin-left: 60px!important;
     } */
    /* }     */
   






/*=====================================================================================*/


