.nopadd{
    padding: 0px;
}
.b1banerheight{
	height: 876px!important;
	background-image: url("/images/b1background.png");
	background-size: 100% 100%;
}
.b1bannerImg{
    height: 317px;
    margin-top: 95px;
    width: 80% !important;
}
.b1bannerImg2{
	/*height: 445px;*/
    margin-top: 62px;
    width: 80% !important;
}
.b1bannerImg3{
	/*height: 245px;*/
    margin-top: 90px;
    /*width: 100% !important;*/
}
.b1bannerImg4{
    /*height: 400px;*/
    margin-top: 72px;
    width: 74% !important;
}
.b1bannerImg5{
    /*height: 392px;*/
    margin-top: 37px;
    width: 84% !important;
}
.mtop100{
	margin-top: 200px;
	color: #fff;
}
.mtop180{
		margin-top: 180px;
	color: #fff;
}
.b1h1Title{
	font-size: 36px;
	letter-spacing: 1px;
}
.b1h2Title{
	    font-size: 41px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;;
}
.b1h3Title{
	font-size: 24px;
    letter-spacing: 1px;
}
/*0000000000000000000*/
.b4h1TitleB4{
    font-size: 34px;
    letter-spacing: 1px;
}
.b4h2TitleB4{
    font-size: 60px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;
}
.b5h1TitleB5{
   font-size: 43px;
    letter-spacing: 1px;
}
.b5h2TitleB5{
    font-size: 56px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;
}

/*============*/

.h1TitleMobile{
	font-size: 34px;
	letter-spacing: 1px;
}
.h2TitleMobile{
	font-size: 81px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;;
}
.h3TitleMobile{
	font-size: 24px;
    letter-spacing: 1px;
}

/*===========*/

.logoBox{
	position: absolute;

}
.logoIMG{
	position: absolute;
    top: 45px;
    left: 100px !important;
    height: 75px !important;
    width: 125px !important;
}
.menuimg{
	height: 35px;
    position: fixed;
    z-index: 10;
    top: 50px;
    right: 95px;
    /*filter: invert(100%);*/
}
.menuimg:hover{
	cursor: pointer;
	caret-color: red;
}

.homecarousel .owl-nav button.owl-prev{
    position: absolute;
    left: 0px;
    top: -205px;
	z-index: 25;
    width: 45px !important;
    height: 45px !important;
    background-color: #eee !important;
    border-radius: 52%!important;
    margin-left: -7px;
    width: 25px;
    height: 32px;  
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.homecarousel .owl-nav  button.owl-next{
    position: absolute;
    right:  0px;
    top: -205px;
    background: transparent !important;
    border-radius: 0px !important;
 	width: 45px !important;
    height: 45px !important;
    background-color: #eeeeee !important;
    border-radius: 52%!important;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
/*.homecarousel .owl-nav  button.owl-next:hover{
	background-color: #44e!important;
}*/
.homecarousel .owl-nav  button.owl-next:focus{
    outline: none !important;
}
.homecarousel .owl-nav  button.owl-prev:focus{
    outline: none !important;
}
.homecarousel .owl-nav  button.owl-next:hover{
    color: #333 !important;
}
.homecarousel .owl-nav button.owl-prev:hover{
    color: #333 !important;
}





/*=====================================================================================*/
/*   mobile view*/
/*=====================================================================================*/
.mtop100xs{
	margin-top: 109px;
	color: #fff;
	position: relative;
	right: 15px;
}
.h1Titlexs{
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
}
.h2Titlexs{
	font-size: 52px;
    line-height: 1;
    letter-spacing: 2.5px;
    font-weight: 1000;
	text-align: center;

}
.h3Titlexs{
	font-size: 27px;
	text-align: center;

    letter-spacing: 1px;
}

.abbannerImgxs{

}

.logoxsb1{
position: absolute;
    top: 30px;
    height: 65px;
    width: 135px !important;
    left: 21px;
}
.menuimgxs{
	height: 30px;
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 20px;
    /*filter: invert(100%);*/
}
.menuimgxs:hover{
	cursor: pointer;
	/*caret-color: red;*/
}

.bannerImgxs{
	    height: 285px;
    margin-left: 30px;
	

}

/*=====================================================================================*/
/*  / mobile view*/
/*=====================================================================================*/


