.endpossibwrapper{
    height: 719px;
    width: 100%;
     background-color:#fff;  
     
}
.dashboxwrapper{
    height: 20px;
    
  }
  .dashBox{
    list-style: none;
    margin: auto;
    
  
  }
  .dashBox li{
  float: left;
  }
  .dash1{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash3 {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px 2px solid #00ccff;
    border-radius: 10px;
  }
  


.endmainrow{
    height: 108px;
    
    
}
.h1titleless{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin-top: 14px;
    

}

.endlesscontentwrapper{
    height: 600px;
    margin-top: -27px;
    /* background-color: red; */
    
}
.enpsbcontent{
    height: 550px;
    /* background-color: darkgoldenrod; */
}
.headingtitle{
    height: 100px;
    

}
.mobileappd{
    font-size: 30px;
    font-family: 'Montseendpossibwrapperrrat', sans-serif;
    margin-left: 12%;
    color: #555555;
    letter-spacing: 0.5px;
    font-weight: bold;
    padding-top: 50px;
}
.paragraphendpsb01{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    letter-spacing: 0.5px;
    font-weight: 550; 
    margin-left: 12%;

    

    

}

.enspsbrmrr{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-left:12%; 
    color: #376BFF;
    cursor: pointer;
    border-bottom: 1px solid #376BFF!important;
     width: 18%;
    
    
    }
   .arrowenspsb{
    height: 100px;
    width: 30%;
    margin-top: -40px;
    margin-left: 192px; 
    font-size: 30px;
    color: #376BFF;
    padding-top: -10px;
   }
   .rightsideendpsbfw{
    height: 550px;
    margin-top: 50px;
    /* background-color: cadetblue; */
       
    }
    .rightsideimgendpsw{
        height: 500px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: auto; 
         margin-top: -51px;  
         /* margin-left: -8%; */
    
    }
/* ====================================================Media Query==================================================================    */
@media (min-width:992px) and (max-width:1200px){
    .endpossibwrapper {
        height: 823px!important;
    }
    .dashboxwrapper{
        height: 20px;
    }
     .dashBox {
        margin-top: 5px!important;
    } 
     .dash1{
      margin-left:-25%!important;
    } 
    .endmainrow {
        height: 108px;
    }
    .paragraphendpsb01{
        text-align: justify;
    }
    .rightsideimgendpsw {
        margin-top: 49px!important;
    }

   
 

 }
 @media (min-width:768px) and (max-width:991px){
   
    .endpossibwrapper{
        height: 1262px!important;
    }
     .dashboxwrapper{
        height: 20px;
    }
    .dashBox {
        padding-top: 5px!important;
    }
    .dash1{
      margin-left:40%!important;
    } 
    .endmainrow{
        height: 86px!important;
    }
    .endlesscontentwrapper{
        height: 829px!important;
        margin-top: 0px!important;
     }
    .enpsbcontent{
        height: 370px!important;
        
        
    }
    .paragraphendpsb01{
        margin-left: 0%!important;
        text-align: justify;
    }
    .rightsideendpsbfw{
        height: 450px!important;
        margin-top: 0px!important;
        
        
           
        }
        .rightsideimgendpsw{
            height: 500px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
                       
        }

    


 }
    @media(max-width:767px){
        .endpossibwrapper{
            height: 1250px!important;
        }
        .dashboxwrapper{
            height: 20px;
        }
        .dashBox {
            padding-top: 5px!important;
        }
        .dash1{
          margin-left:22%!important;
        }
        .endmainrow{
            height: 86px!important;
            
        }
        .h1titleless{
            font-size: 25px!important;
        }
        .endlesscontentwrapper{
            height: 1100px!important;
            margin-top: 0px!important;
            
            
        }
        .enpsbcontent{
            height: 650px!important;
            
        }
        .paragraphendpsb01{
            margin-left: 0%!important;
            text-align: justify;
        }
        .rightsideendpsbfw{
            height: 450px!important;
            margin-top: 0px!important;
            background-color: red!important;
            
               
            }
        .rightsideimgendpsw{
                height: 500px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                           
        }
        
   }



 /* =======================================================Media Query end============================================================== */
    


