.dmbgwrapp{
    height: 600px;
    background-color:#fff !important; 
}
.dashboxwrapper{
  height: 20px;
  /* background-color:red; */
}
.dashBox{
    list-style: none;
    margin: auto;
    
  
  }
  .dashBox li{
  float: left;
  }
  .dash1{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash3 {
    height: 1px;
    width: 20px;
    margin:2px;
    border:2px solid #00ccff;
    border-radius: 10px;
  }
  .hcustomtitlewrapp{
    height: 100px;
    
}
.h2titlecustom{
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  margin-top: -28px;


}
.custmowrapper{
   height: 450px;
  
}
.customIMGwrapp{
 height:440px;
 /* background-color:red; */

 }
.customleftimage{
   height: 430px;
  
}
.customtextwrapp{
   height: 440px;
   /* background-color: blueviolet; */
  padding-top: 40px;
}

 .h1titlecustom{

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  letter-spacing: 0.5px;
  font-weight: 550; 
   /* margin-right: 12%;  */
}

.h1titlecustom{
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
 color: #555555;
 margin-top: 25px;
 letter-spacing: 0.5px;
 font-weight: 550; 
 /* margin-right: 12%;  */



}
.rmoretitle{
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  /* margin-left:12%;  */
  color: #376BFF;
  cursor: pointer;
  border-bottom: 1px solid #376BFF!important;
   width: 18%;
  
  
  }
 .awrapp{
  height: 100px;
  width: 30%;
  margin-top: -40px;
  margin-left: 111px;  
  font-size: 30px;
  color: #376BFF;
  padding-top: -10px;
 }

 /* ===========================================Media Query======================================== */ 
@media (min-width:992px) and (max-width:1200px){
  .dmbgwrapp{
    height: 620px!important;
    
  }
  .dashboxwrapper{
    height: 20px;
  }
  .dashBox{
    margin-top: 5px!important
 } 
.dash1{
   margin-left: -25%!important
 }
 .custmowrapper{
  height: 845px!important;
  
}
.customIMGwrapp{
  height:440px;
  
} 
.customleftimage{
  height: 430px;
  margin-left: 0%!important;
 
}
.customtextwrapp{
height: 500px!important;
padding-top: 0px!important;
margin-left: 0px!important;

}
.h1titlecustom{
text-align: justify;
padding: 0px!important;


}
}

@media (min-width:768px) and (max-width:991px){
  .dmbgwrapp{
    height: 970px!important;
    
  }
  .dashboxwrapper{
    height: 20px;
  }
    .dashBox{
      padding-top: 5px!important;
 } 
  
  .dash1{
    margin-left: 40%!important;
 }
 .hcustomtitlewrapp{
  height: 100px;
  
  }
  .custmowrapper{
    height: 845px!important;
  }
  .customIMGwrapp{
    height:440px;
  }
  .customleftimage{
      height: 430px;
      margin-left: 17%!important;
  } 
  .customtextwrapp{
    height: 400px!important;
    padding-top: 0px!important;
    margin-left: 0px!important;
  }
  .h1titlecustom{
    text-align: justify;
    padding: 0px!important;

    
  }
}

@media (max-width:767px){
  .dmbgwrapp{
    height: 1273px!important;
  
  }
  .dashboxwrapper {
    height: 20px;
  }
  .dashBox {
    padding-top: 5px!important;
  }
  .dash1 {
    margin-left: 22%!important;
}
.hcustomtitlewrapp{
  height: 100px;
  }
.h2titlecustom{
  font-size: 30px!important;
}
.custmowrapper{
  height: 1100px!important;
}
.customIMGwrapp{
  height:440px;
}
.customleftimage{
    height: 430px;
    margin-left: -1%!important;
}
.customtextwrapp{
  height: 640px!important;
  padding-top: 0px!important;
  margin-left: 0px!important;
}
.h1titlecustom{
  text-align: justify;
  padding: 0px!important;


 }


}
 


 