
.ht850px{
min-height:  850px;
}
.nopadding{
	padding: 0px;
}
.firstsubDiv{
background-color: #333;
height: 325px;
}
.DivText{
	color:#fff;
	line-height: 1.4;
	margin-top: 90px;
letter-spacing: 1.5px;
}

.calBtn{
	border-radius: 30px;
	width: 140px;
	height: 38px;
	font-size: 14px;
	color: #fff;
	margin: 5px 0px ;
    background-color: #27a2ff;
    border: 1px solid #27a2ff;
}
.imgDiv{
/*background-image: url("/images/sm1.jpg");*/
/*background: 100% 100%;*/
/*background-repeat: no-repeat;*/
height: 325px;
overflow: hidden;
}
.firstdivimg{
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("/images/sm1.jpg");

}
.{
/*margin-top: 145px;*/
height: 525px;
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*background-image: url("/images/homepage2.jpg");*/
}
.secondDiv img{
	height: 525px;
}
.secondsubDiv{
/*margin-top: 145px;*/
height: 525px;
    background-color: #fff;
    padding-top: 60px;

}
.Div2Text{
letter-spacing: 3px;
    margin-top: 70px;
}
.Div2Btn{
	background-color: #333;
	border:1px solid #333;
	color: #4bdcf3;
	height: 45px;
    /*margin-bottom: 10px;*/
    margin-top: 10px;

}

.secondsubDiv p{
	    font-size: 13px;
    letter-spacing: 1.45px;
    margin-bottom: 15px;
}