.serviceswrapper{
  height: 879px;
  background-color:#fff; 
        
}
  .serviceheight{
	height: 720px;
	 background-image: url("/images/3.png"); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
.whatdowrapper{
  height: 20px;
  padding-top: 8px;
  
  
}
.whatwedobox{
  list-style: none;
  margin: auto;
  

}
.whatwedobox li{
float: left;
}
.whatdash1{
  height: 1px;
  width: 20px;
  margin:2px 2px 2px 10px;
  border: 2px solid #00ccff;
  border-radius: 10px;
}
.whatdash1{
  margin-left: 10%;
}
.whatdash2{
  height: 1px;
  width: 50px;
  margin:2px;
  border: 2px solid #00ccff;
  border-radius: 10px;
}
.whatdash3 {
  height: 1px;
  width: 20px;
  margin:2px;
  border: 2px solid #00ccff;
  border-radius: 10px;
}


.textwrapper{
  height: 50px;
  
  margin-top: 10px; 
  
 
}
.h1titble00{
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
    

}
.Hexagonwrapper00{
  height: 722px;
  margin-top: 60px; 
  
}
.hexagon1{
  background-image: url("/images/10.png");
   height: 270px; 
   width: 301px;
	 background-size: 100% 100%; 
	 position: absolute;
   margin-left: 39.15%; 
   margin-top: -3%;

  
}
.serviceimgblock{
  height: 60px;
  width: 60px;
  margin-left: 117px;
  margin-top: 64px;
  

}
.serviceimgblock img{
  width: 100%;
 
}
.heprizeapps{
   height: 68px; 
   width: 164px; 
   margin-left: 70px; 
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 16px;

}

.hexagon2{
   background-image: url("/images/11.png"); 
   height: 270px; 
   width: 301px;
	 background-size: 100% 100%; 
	 position: absolute;
   margin-left: 39.15%; 
   margin-top: 12.5%;

}
.h1services{
  height: 68px;
  width: 164px;
  margin-left: 70px;
  margin-top: 119px;
  font-size: 23px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;


}

.hexagon3{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 301px;
  background-size: 100% 100%; 
  position: absolute;
  margin-left: 39.15%; 
  margin-top: 28%;


}
.serviceimgblock2{
  height: 60px;
  width: 60px;
  margin-top: 64px;
  margin-left: 117px;
 


}
.serviceimgblock2 img{
  width: 100%;
 
}
.hstaffaugmtion{
  
  width: 164px;
  margin-left: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 7px;


} 
.hexagon4{
  background-image: url("/images/10.png");
  height: 270px; 
   width: 301px;
  background-size: 100% 100%; 
  position: absolute;
  margin-left: 25%;
  margin-top: 4.75%;

}
.serviceimgblock3{
  height: 60px;
  width: 60px;
  margin-top: 81px;
  margin-left: 123px;
 

}
.serviceimgblock3 img{
width: 100%;
}
.hwebapps{
  height: 68px;
  width: 164px;
  /* background-color: red; */
  margin-left: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 9px;
  font-family: 'Montserrat', sans-serif;

}

.hexagon5{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 301px;
  background-size: 100% 100%; 
  position: absolute;
  margin-left: 25%;
  margin-top: 20.75%;

}
.serviceimgblock4{
  height: 60px;
  width: 60px;
  margin-top: 81px;
  margin-left: 123px;


}
.serviceimgblock4 img{
 width: 100%;
}
.hbportals{
  height: 68px;
  width: 164px;
  margin-left: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 9px;
  font-family: 'Montserrat', sans-serif;

}
.hexagon6{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 301px;
	background-size: 100% 100%; 
	position: absolute;
  margin-left: 53.3%;  
  margin-top: 4.75%;
  
}
.serviceimgblock5{
  height: 60px;
  width: 60px;
  margin-top: 81px;
  margin-left: 123px;

}
.serviceimgblock5 img{
 width: 100%;
}
.hmapps{
  height: 68px;
  width: 164px;
  margin-left: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 9px;
  font-family: 'Montserrat', sans-serif;

}
.hexagon7{
  background-image: url("/images/10.png");
  height: 270px; 
  width: 301px;
	background-size: 100% 100%; 
	position: absolute;
  margin-left: 53.3%;  
  margin-top: 20.75%;
 

}
.serviceimgblock6{
  height: 60px;
  width: 60px;
  margin-top: 81px;
  margin-left: 123px;

}
.serviceimgblock6 img{
  width: 100%;
}
.heportal{
  height: 68px;
  width: 164px;
  margin-left: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 9px;
  font-family: 'Montserrat', sans-serif;

}



/* ==========================================Media Query===================================================== */
/* @media (max-width:1200px){ */
  
/* } */
/* @media (max-width:992px){
  
  .serviceswrapper{
    height: 930px;
    width: 100%;
    
  }

  .Hexagonwrapper00{
     height: 1112px;
   }
   .dashBoxS{
     width:100%;
       margin-left: -67px!important;  
      
       
   }
   .dash1S{
     margin-left: 43%!important;
   }
   .servicehiading{
     margin: auto;
     margin-top: 20px;
   
   }
   .hexagon1{
     margin-left: -202px; 
   
 
 
   }
   .hexagon2{
     margin-left: -202px;
   }
   .hexagon3{
     margin-left: -202px;
   }
   .hexagon4{
     margin-left: -202px; 
 
   }
   .hexagon5{
     margin-left:-202px ;
   }
   .hexagon6{
     margin-left:-198px ;
 
 
   }
   .hexagon7{
     margin-left:-198px ;
 
 
   }
 
 } */
 
/* ================================================Tablets and  ipad===================== */

/* @media  (min-width:768px) and (max-width: 991px){
  .serviceswrapper{
    height: 1370px!important;
    width: 100%;
    
   
          
  }
  .whatdowrapper{
    height: 20px;
    padding-top: 8px;
    
  }
  .whatdash1{
    margin-left: 39%!important; 
   
  } 
  .hexagon1{
   
     left:243px; 
     
  
    
  }
  .hexagon2{
   
    left:243px; 
  }
  .hexagon3{
   
    left:243px; 
  }
  .hexagon4{
    left: 160px;
    
  
  }
  
 
  } */
  
 /* ================================================Mobile view===================== */
 /* @media (min-width: 469px) and  (max-width: 767px){

  .serviceswrapper{
    height: 1800px;
    
     
          
  }
  .serviceheight{
    height: 1770px;
   
  }
  .whatdowrapper{
    height: 20px;
    padding-top: 8px;
    
    
    
  }
  
  
   .whatdash1{
    margin-left: 32%!important; 
   
  } 
 
  .whatdotextwrapper{
    height: 50px;
    padding-top: 0px;
   
  }
   .h1titble00{
    font-size:40px ;
  } 
  
  .hexagon1{
    left:19%; 
   }
   .hexagon2{
    left:19%;

  } 
  .hexagon3{
    left:19%;
  } 
   .hexagon4{
    left:19%;
    top:572px;

  } 
  .hexagon5{
    left:19%;
    top:570px;


  } 
   .hexagon6{
    left:19%;
    top:1035px;


  } 
   .hexagon7{
    left:19%;
    top:1035px;
  }  


  

 } 
 */


/* @media (max-width: 468px){
  .serviceswrapper{
    height: 1900px;
    
     
          
  }
  .serviceheight{
    height: 1770px;
   
  }
  .whatdowrapper{
    height: 20px;
    padding-top: 8px;
    
    
  }
  
  .whatdash1{
    margin-left: 24%!important; 
   
  }
  .Hexagonwrapper00{
    height: 1700px;
   

  }
  .whatdotextwrapper{
    height: 50px;
    padding-top: 0px;
  
   
  
    
  }
   .h1titble00{
    font-size:40px ;
  } 
  
  .hexagon1{
    left:10%; 
   }
   .hexagon2{
    left:10%;

  } 
  .hexagon3{
    left:10%;
  } 
   .hexagon4{
    left:10%;
    top:572px;

  } 
  .hexagon5{
    left:10%;
    top:570px;


  } 
   .hexagon6{
    left:10%;
    top:1035px;


  } 
   .hexagon7{
    left:10%;
    top:1035px;
  }  


  

}
  */












