 .madalbtn{
	position: fixed;
	right: 0px;
    z-index: 10;
    margin-top: 180px;
    margin-right: 0px;
    border: 1px solid #008000!important	;
    
} 

.btnbg{
    background-image: url(/images/contact.png);
    width: 115px;
    background-color:#f1f1f1;
    box-shadow: 1px 1px 10px 0px #f1f1f1;
    border-radius: 40px 0px 0px 40px !important;
    height: 55px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}

.btn_Responsive{
    position: absolute;
    top:5px;
}
.btnbg:focus { 
     outline: 0px auto -webkit-focus-ring-color!important;   
      outline-offset: -2px;  
 } 
 
 .modalhight{
    
     top: 100px; 

 }
 .modal-header00{
     border-bottom: none;
 }
 .modal-footer00{
     border-top: none;
 }
  .btn{
     margin-right: 10px;
 } 
 .modal-header {
    padding: 15px;
    border-bottom: none!important;
    

 }
 
 .form-control {
    display: block;
    width: 100%;
    height: 50px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143; 
    color: #555; 
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.button1 {
    margin-left: 2px;
    color: #FFFFFF;
    margin-top: 20px;
    height: 50px;
    background-color: #18ccf7;
    font-weight: 600;
    font-size: 16px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-right: 1px;
}
.close {
    font-size: 30px!important;
}
     
textarea.form-control {
    height: auto!important;
} 



 
 
 
/* =============================================contactus page css=============== */
   
.connectwrapper{
    height: 50px;
    /* background-color: red; */
    margin-top: 30px;
    margin-left: -10px;

    

}
.hiconnecttitle{
    font-size: 18px;
    color: #555555;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

 .bgcolor00{
    
    background-color: #e3f2fd!important;
} 
.bgdiv1{
    margin-top: 25px;
} 
  

.bgimage1{
    height: 100px;
    width: 150px;
    position: absolute;
     margin-left: -234px;
    margin-top:-2px; 
}
.bgimage2{
    height: 223px;
    width: 247px;
     /* background-color: brown;   */
    position: absolute;
    margin-left: -200px;
    margin-top: -124px;
    


}
.modelimg2{
    margin-left: 49px;
}
.bgimage3{
    height: 450px;
    width: 217px;
     /* background-color: brown;     */
    position: absolute;
    margin-left: -180px;
    margin-top: 28px;
   

}
.modelimg3{
    height: 439px;
    margin-top: 16px; 
    
}
.bgimage4{
    height: 206px;
    width: 107px;
    /* background-color: brown;      */
    position: absolute;
    margin-left: -85px;
    margin-top: 359px;

}
.modelimg4{
    height: 150px;
    
    
}
.bgimage5{
    height: 110px;
    width: 107px;
     /* background-color: brown;       */
    position: absolute;
    /* margin-left: 628px; */
    margin-left: 270px;
    margin-top: -83px;
}
.modelimg5{
    height: 85px;
}

.bgimage6{
    height: 162px;
    /* width: 42%; */
    /* background-color: brown;        */
    position: absolute;
    /* margin-left: 241px;  */
    margin-left: 363px;
     margin-top: -149px; 
}
.modelimg6{
    height: 169px;
   
}
.bgimage7{
    height: 131px;
    width: 150px;
    /* background-color: brown; */
    position: absolute;
    margin-left: 631px;
    margin-top: -42px


}
.bgimage8{
    height: 290px;
     /* background-color: brown;  */
    position: absolute;
     margin-left: 591px;
    margin-top: 212px 


}
.bgimage9{
    height: 450px;
    width: 217px;
     /* background-color: brown;      */
    position: absolute;
    margin-left: 458px;
     margin-top: -41px; 
    
    

}
.modelimg9{
    height: 456px;
    margin-top: 5px;
    margin-left: -46
}
.bgimage10{
     
        height: 138px;
        /* width: 217px; */
        /* background-color: brown; */
        position: absolute;
        margin-left: 410px;
        margin-top: 392px
}
.modelimg10{
    height: 129px;
    margin-top: -7px;
}

.bgimage11{
    height: 188px;
    /* background-color: brown;  */
    position: absolute;
    margin-left: 112px;
    margin-top: -127px

    
}
/* =====================================Media Query================================================ */
/* =======================================mobileview=============================================== */
@media (max-width: 468px){
    .madalbtn{
        margin-top: 148px;
    }
}
@media (max-width: 425px){
    .btn_Responsive{
        top:64px ! important;
    }
}




