.aboutusbanner{
  background-image: url("/images/aboutbaner.png");
  background-size: 100% 100%;
  height: 550px;
}

.aboutbread{
  background-color:transparent!important;
  font-size: 16px;
  color: #A2632C;
}
.breadcrumb>li+li:before{
  color: #777;
}

.aboutheading{
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}
.aboutbread a{
  color: #333!important;
}
.aboutbread a:hover{
text-decoration: none;
}