.footerBlock{
	height: 340px;
	 /* background-color: #1aa;   */
    
    
}
.footerTop{
height: 291px;
background-color:#376bff;
/*background-image: url("/images/wmpng.png");*/
background-size: 100% 100%;
/* margin-top: -17px; */
}
.footerBottom{
	height: 50px;
	background-color: #283592;
}
.bpadding{
    padding-bottom: 0px !important;
}
.footerTop ul{
	list-style: none;
}
.mtop70{
	position: relative;
	top: 70px;
}
.fbPng{
    height: 36px;
    position: relative;
    padding: 4px;
    margin-top: 5px;
    top: 7px;
    margin: 0px 10px;
}
.contactBtn{
    position: relative;
    top: 15px;
    width: 150px;
    left: 14px;
    border-width: 0px !important;
    height: 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    letter-spacing: normal;
    text-align: center;
    align-items: flex-start;
    background-color: #68b8ef;
    border-color: none !important;

}
.contactBtn:hover{
	    /* color: #fff; */
    background-color: #286090;
     border-color: #fff !important; 

}

.clrwt{
    color: #fff;
    margin-top: -60px;

}
.clrwt b{

        font-size: 18px;
        font-family: 'Montserrat', sans-serif;

}
.copyr2 ul{
	list-style: none;
}
.copyr2 li{
	float: left;
	padding: 17px 10px 0px 10px;
	color: #fff;
}
.lm{
	position: relative;
	left: 14px;
}
.footerBottom ul{
	list-style: none;
}
.mtop10{
	margin-top: 14px;
}

/* .footerTopxs{
    height: 340px;
    background-color: #376bff;
    margin-top: -17px;

} */
.footerTopxs ul{
    list-style: none;
}
.footerBottomxs ul{
    list-style: none;
}


.footerBottomxs{
    height: 100px;
    background-color: #283592;

}
.f1ooter a{
    text-decoration: none;
    color: #fff;

}
.footertitle{
    color: #f1f1f1f1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
 
}
.copyright{
    color: #f1f1f1f1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    


}
/* ================================Media Query================================================================= */
@media (max-width:767px){
    .footerBlock{
        height: 565px;
        /* background-color: red; */
        
    }    
    .footerTop{
        height: 500px;
       
    }
    .clrwt{
        margin-top: -100px;
    }
    .clrwt00{
        margin-top: 50px;
        
    }
    .clrwt000{
        margin-top: 50px;


    }
    .clrrr b{
        margin-left: 37px;

    }
    .supportheading{
        margin-left: 20%;
 
    }
    .addresstitle{
        margin-left: -30px;
    }
    .hmenutitle{
        margin-left: -15px;
    }
   
    .copyright{
        color: #f1f1f1f1;
        font-size: 13px;
        width: 240%;
        margin-left: -17%;
        /* background-color: red; */
        margin-top: -10px;
        font-family: 'Montserrat', sans-serif;
        

    }
    .linkdin{
        height: 36px;
       margin-top: -62px;
       right: -105px;
        
    
    }
   
    
   

}