.ecbwrapper{
	height: 740px;
	background-color: #fff!important;
}
.ecombgimg{
	height: 735px;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.logoBox{
    position: absolute;
	z-index: 50;

}
.logo{
	position: absolute;
    top: 45px;
    left: 90px;
}

.eocmbgwrapp{
	height: 300px;
	margin-top: 175px;
    padding-left: 65px;
}
.h1Titlecom0{
    font-size: 40px;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 35px;
	

}
.h2Titlecom00{
	color: #FFFFFF;
	font-size: 55px;
	letter-spacing: 1px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 30px;
	
}
.h3Titlecom0000{
	font-size: 29px;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 29px;
}
.Imgwrapp{
	height: 400px;
	margin-top: 141px;
}
.bannerImgecom{
	height: 400px;
	/*margin-left: 100px;*/
}




