.specialhightwrapper{
    height: 650px;
    background-color: #FFF!important;        
}
.dashboxwrapper{
    height: 20px;
}
  .dashBox{
    list-style: none;
    margin: auto;
    
  
  }
  .dashBox li{
  float: left;
  }
  .dash1{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash3 {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }


.specialityheading{
    height: 108px;
       
    
}
.h2title{
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-top: 14px;
    
}

 
/* .osDiv{
	height: 350px;
	top: -180px;
	position: relative;
} */
/* .bhead{
	position: relative;
	
} */
.col1{
	height: 395px;
	background-color: #fff;
    border-radius: 10px;
     /* margin-top: 190px;  */
    box-shadow: 2px 2px 8px 3px #dad6d6;

}

.iconCircle{
	height: 130px;
    position: relative;  
    width: 130px; 
    left: 33%; 
    top: 41px; 
     background-color: #e3f1e2; 
    border-radius: 50%;
}
.innerCircle{
	position: relative;
    height: 45px;
    top: 39px;
    left: 41px;
}
.sptextBox1{
	position: relative;
	top: 27px;
    color: #555;
}
.sptextBox1 h2{
	font-weight: 500;

}
.sptextBox1 p{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 0px;
    color: #666;
    
}

.rmore{

    position: relative;
    top: 20px;
    letter-spacing: 1.2px !important;
    color: #376bff !important;
    font-weight: 600;
}

.mainheading{
    height: 100px;
    width: 400px;
    margin-top: 0px;
}

.mheading{
    font-weight:bold!important;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
}
.paragraph{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
    

}

/* .rmore {
    height: 100px;
    width: 300px;
    font-size: 15px;  
    position: absolute;
    top: 173px;
    letter-spacing: 1.2px !important;
    color: #376bff !important;
    cursor: pointer;
    left: 40;
    padding-top: 23px;
    font-family: 'Montserrat', sans-serif;

} */

/* ==================================Media Query================================================= */
@media (min-width:992px) and (max-width:1200px){
    .specialhightwrapper{
        height: 638px!important;
        
        
        }
        .dashboxwrapper{
            height: 20px;
        }
        .dashBox{
            margin-top: 5px!important;
        }
        .dash1{
            margin-left: -25%!important;
        }
        .specialityheading{
            height: 130px;
            
        }
        .iconCircle{
            left: 21%; 
        
        }
        .paragraph{
            text-align: justify;
           
        }
        .sptextBox1 p{
            padding-left: 0px;
        }


       


}
@media (min-width:768px) and (max-width:991px){
    .specialhightwrapper{
        height: 1516px!important;
        
        }
        .dashboxwrapper{
            height: 20px;
            
        }
        .dashBox{
            padding-top: 5px!important;
        }
        .dash1{
            margin-left: 40%!important;
        }
        .specialityheading{
            height: 130px;
            
        }
        .col1{
             margin-top: 36px;
        }
        .iconCircle{
            left: 40%; 
        
        }
        .paragraph{
            text-align: justify;
           
        }
        .sptextBox1 p{
            padding-left: 0px;
        }


}
@media (max-width: 767px){
    .specialhightwrapper{
        height: 1549px;
        }
    .dashboxwrapper{
        height: 20px;
    }
    .dashBox{
        padding-top: 5px!important;
    }
    .dash1{
        margin-left: 22%!important;
    }
    .specialityheading{
        height: 130px;
    }
    .h2title{
        font-size: 39px;
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        margin-top: 14px;
    }
    .osDiv{
    
        width: 91%;
        height: 1420px;
        top: -48px; 
        left: -4%;
     }
    .col1{
    height: 427px;
     width: 106%; 
     left:-2%;
     margin-top: 36px;
    } 
    .iconCircle{
        left: 27%; 
    
    }
    .paragraph{
        text-align: justify;
       
    }
    .sptextBox1 p{
        padding-left: 0px;
    }  
}



