.ecbwrapper{
	height: 740px;
	background-color: #FFFFFF!important;   
}
.ecombgimg{
	height: 735px;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.logoBox{
    position: absolute;
	z-index: 50;

}
.logo{
	position: absolute;
    top: 45px;
    left: 90px;
}

.eocmbgwrapp{
	height: 300px;
	margin-top: 175px;
    padding-left: 65px;
}
.h1Titlecom0{
    font-size: 40px;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 35px;
	

}
.h2Titlecom00{
	color: #FFFFFF;
	font-size: 55px;
	letter-spacing: 1px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 30px;
	
}
.h3Titlecom0000{
	font-size: 29px;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 29px;
}
.Imgwrapp{
	height: 400px;
	margin-top: 141px;
}
.bannerImgecom{
	height: 400px;
	/*margin-left: 100px;*/
}
/* ====================================Media Query========================================== */
@media (min-width:992px) and (max-width:1200px){
	.ecbwrapper{
		height: 755px!important;
		
	}
	.eocmbgwrapp{
		height: 300px;
		margin-top: 175px;
		padding-left: 65px;
		
	}
	.h1Titlecom0{
		font-size: 40px;
		margin-left: 17px!important; 
		
	
	}
	.h2Titlecom00{
		color: #FFFFFF;
		font-size: 49px!important;
		margin-left: 17px!important;
		
	}
	.h3Titlecom0000{
		font-size: 20px!important;
		margin-left: 17px!important;
		
	}

}
@media(max-width:991px){
	.ecbwrapper{
		height: 1360px!important;
		
	}
	.ecombgimg{
		height: 1335px!important;
		background-size: 100% 100%!important;
		
	}
	.eocmbgwrapp{
		height: 300px;
		margin-top: 175px;
		padding-left: 65px;
		
	}
	.h1Titlecom0{
		font-size: 40px;
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: -14px!important; 
		
	
	}
	.h2Titlecom00{
		color: #FFFFFF;
		font-size: 55px;
		letter-spacing: 1px;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: -14px!important;
		
	}
	.h3Titlecom0000{
		font-size: 27px!important;
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: -14px!important;
		text-align: justify;
	}
	.Imgwrapp{
		height: 400px;
		margin-top: 100px!important;
		
	}
	.bannerImgecom{
		height: 400px;
		margin-left: 75px;
		
	}
	



}
@media(max-width:768px){
	.ecbwrapper{
		height: 1229px!important;
		
	}
	.ecombgimg{
		height: 1212px!important;
		background-size: 100% 100%!important;
		
	}
	.eocmbgwrapp{
		height: 300px;
		margin-top: 175px;
		padding-left: 65px;
		
	}
	.h1Titlecom0{
		font-size: 40px;
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: -14px!important; 
		
	
	}
	.h2Titlecom00{
		color: #FFFFFF;
		font-size: 55px;
		letter-spacing: 1px;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: -14px!important;
		
	}
	.h3Titlecom0000{
		font-size: 27px!important;
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: -14px!important;
		text-align: justify;
	}
	.Imgwrapp{
		height: 400px;
		margin-top: 12px!important;
		
	}
	.bannerImgecom{
		height: 400px;
		margin-left: 75px;
		
	}
	



}
@media (max-width:767px){
	.ecbwrapper{
		height: 1365px!important;
		
	}
	.ecombgimg{
		height: 1335px!important;
		background-size: 200% 100%!important;
		
	}
	.eocmbgwrapp{
		height: 281px!important;
		margin-top: 148px!important;
	
		
	}
	.h1Titlecom0{
		margin-left: -60px!important;
	}
	.h2Titlecom00{
		
		font-size: 37px!important;
		margin-left: -60px!important;
		
	}
	.h3Titlecom0000{
		font-size: 18px!important;
		margin-left: -60px!important;
	}
	.Imgwrapp{
		height: 400px;
		margin-top: 17px!important;
	}
	.bannerImgecom{
		height: 400px;
		margin-left: -14px;
		
	}
	

	

}






