.headerComp{
	height: 50px;
	background-color: #2A88BC;
	
    margin-right: 0px;
}
.clrwhtbgtp{
	color: #fff;
	background-color: transparent;
	margin-bottom: 0px !important;
}
.clrwhtbgtp .navbar-nav{
font-size: 13px;

}
.clrwhtbgtp ul li :hover{
	color: #111;
	background-color: transparent;
}
.colorWhtNavBartxt a{
	color: #fff;
}