.autopilotwrapper00{
    height: 950px;
    background-color: #FFF!important;  
}
.autopilotwrapper{
    height:950px ;
    width: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/* =================================dash box=== */
.wrapperdashbox{
    height: 20px;
    margin-top: 178px;
   
}
.dashBox3{
    list-style: none;
    margin: auto;
  }
 .dashBox3 li{
     float: left;
     
     
     
 }
 .dash0a1,.dash0a3{
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
    margin-top: 45px;
}
.dash0a2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #f1f1f1!important;
    border-radius: 10px;
    margin-top: 45px;

}
/* =========================end=========== */


 .titlewrapper2{
    height: 60px;
   
     margin-top: 15px!important; 
 } 

.h1title000{
    font-size: 46px;
    color: #f1f1f1;
    /* margin-top: -11px; */
    

}  
 .maincontentwrapper001{
    height: 400px;
    /* background-color: cadetblue; */
  
} 
.leftimageframework{
     height: 405px;
     /* background-color: chocolate;  */
    
    
}
.leftsideimg{
    height: 391px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto; 
    margin-top: 35px;  
    /* margin-left: -8%; */

}
.autocontentframework{
    height: 370px;
    
    
}
.paragraphfasttrack00{
    
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
     /* margin-left:12%;  */
    color: #f1f1ff;
    letter-spacing: 0.5px;
    font-weight: 550; 
    padding-top: 123px; 

    

}
.loremIpsum1{
    font-size: 30px;
    font-weight: bold;
}
.paragraphfasttrack02{
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   /* margin-left:12%;  */
   color: #f1f1ff;
   margin-top: 40px;
   letter-spacing: 0.5px;
   font-weight: 550; 


}
.ftracermore00{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    /* margin-left:12%; */
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1!important;
    width: 18%!important;


}
.arrow00{
    height: 100px;
    width: 30%;
    /* background-color: aquamarine;  */
    margin-top: -40px;
    margin-left: 113px!important;
    font-size: 30px;
    color: #f1f1f1;
    padding-top: -10px;
}
/* ============================================= Media Query=================================================================== */
@media (max-width:767px){
    .autopilotwrapper00{
        height: 2310px;
         /* background-color:#ccc;   */
         
    }
    .autopilotwrapper{
        height:2320px;
        background-size: 200% 108%;
        
        
        
    }
    
    .mainrow{
        height: 200px;
        width: 100%;
        margin-left:0%;
        text-align: center;

    }
    .Auopilot{
        font-size: 24px;
    }
    .ecomeplatofrm{
        font-size: 24px;
    }
    .leftsideimg{
        width: 100%;
        margin-left: -3%;

    }
    .ftracermore00{
        font-size: 18px!important;
        width: 33%!important;
        cursor: pointer;
    
    }
    .arrow00{
        font-size: 18px!important;
        margin-left: 103px!important;
         margin-top: -31px!important;   
       
    }
}





/* ================================================Media Query end=============================================================== */