.carouselBannerwrapper{
    height: 1040px;
     background-color: #FFFFFF;    
}
.b1banerheight{ 
	height: 1040px;  
	background-repeat: no-repeat;
    background-size: 100% 100%; 
 } 
/* .logoBox{
	position: absolute;

}
.logoIMG{
	position: absolute;
    top: 45px;
    left: 100px !important;
    height: 75px !important;
    width: 125px !important;
    cursor: pointer;
} */
 .homepagecontentwrapp{
    height: 470px;
    margin-top: 137px;
 }
 .slide1{
    height: 270px;
    /* background-color: aqua;  */
    
     
    
   }
   /* .mtop100{
    position: absolute; 
    color: #fff;
    background-color: aqua;
    } */
   .b1h1Title{
     
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 87px;
    color: #FFF;
    
}
.b1h2Title{    
    font-size: 60px;
    line-height: 1;
    letter-spacing: 1px;
    margin-left: 82px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -11px;
    font-weight: bold;
    color: #FFF;
}
.b1h3Title{
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 85px;
    margin-top: -11px;
    color: #FFF;

    
}
.appIMGwrapp{
    height: 310px;
   /* background-color:red;       */
    margin-top: -34px;
}
.b1bannerImg{
   height: 330px; 
   margin-left: 12%; 
   margin-top: -21px;
   
  
    
   
}
 
 .carousel-control-prev{

    height: 50px!important;
    width: 50px;
    background-color: black!important;
    margin-top: 314px;
    margin-left: 10px;
    border-radius: 50%; 
 } 
 .carousel-control-next{
    height: 50px!important;
    width: 50px;
    background-color: black!important;
    margin-top: 314px;
     margin-right: 10px;
     border-radius: 50%; 


 }
 .glyphicon-chevron-left{
     margin-top: -15px!important;
     margin-left: -15px!important;
    } 
 .glyphicon-chevron-right{
    margin-top: -15px!important;
    margin-right: -15px!important;
   

 }
 /* ===============================================Media Query============================================= */
    /* ==============================================Desktop &laptops======================================== */
    @media (min-width: 1024px) and (max-width:1200px)

    {
        .b1h1Title{
     
           margin-left: 57px;
                      
        }
        .b1h2Title{   
            font-size: 44px;  
            margin-left: 52px;
           
        }
        .b1h3Title{
           font-size: 28px; 
           margin-left: 52px;
        }
           
       

    }
        @media (min-width:992px) and (max-width:1023px){
            .b1h1Title{
     
                font-size: 27px; 
                 margin-left: 62px;
              
            }
            .b1h2Title{   
                font-size: 44px;  
                margin-left: 55px;
            }
            .b1h3Title{
               font-size: 28px; 
              margin-left: 58px;
               
            
                
            }
            .appIMGwrapp{
                height: 350px;
                 /* background-color:red;        */
                /* margin-top: 15px; */
            }
            .b1bannerImg{
               height: 330px; 
               margin-left: 6%; 
               
              
                
               
            }
          
       } 
   /* ==============================================Tablets & ipad=========================================== */
     @media (min-width:769px) and (max-width:991px){
        .carouselBannerwrapper{
            height: 1600px!important;
            /* background-color: red; */
           
        }
        .b1banerheight{
            height: 1600px!important;
    
        }
       
        .homepagecontentwrapp{
            height: 670px!important;
            
                       
         }
         .b1h1Title{
            margin-left:6%; 
            
        
         }
         .b1h2Title{  
          margin-left: 5%;
            
            
        }
        .b1h3Title{
         margin-left: 5%;
               
            
        }
       
        
         
            
    
        .b1bannerImg{
            margin: auto;
            box-sizing: border-box;
            
        }
        .carousel-control-prev{

            margin-top: 615px;
        
            } 
            .carousel-control-next{
             margin-top: 615px;
               
           
            }

    }

    




   /* ===============================================Mobile view============================================== */
   @media(min-width: 469px) and  (max-width: 768px){
    .carouselBannerwrapper{
        height: 1840px!important;
        background-color: aqua;
          }
    .b1banerheight{
        height: 1830px;

    }
    .homepagecontentwrapp{
        height: 870px;
         
        
        
    }
    .slide1{
        height:236px;
       
        
     }
     .b1h1Title{
        margin-left:2%; 
        
    
     }
     .b1h2Title{  
      margin-left: 1%;
        
        
    }
    .b1h3Title{
     margin-left: 2%;
           
        
    }
    .appIMGwrapp{
        height: 336px;
          /* background-color:red;          */
        margin-top: 50px!important;  
    }
    .b1bannerImg{
        height: 330px; 
        margin: auto;
        box-sizing: border-box;
        
    }
    .carousel-control-prev{

     margin-top: 672px;
 
     } 
     .carousel-control-next{
      margin-top: 672px;
        
    
     }
    
    
    
     } 
   
    


   
   @media (max-width: 468px){
    .carouselBannerwrapper{
        height: 1485px;
        /* background-color: aqua; */
    }
    .b1banerheight{
        height: 1480px;

    }
   
     
     .homepagecontentwrapp{
        height: 870px;
         /* background-color: tomato;  */
        
        
    }
      .slide1{
        height:236px;
        
     } 
     
      .b1h1Title{
       font-size: 30px;
        margin-left:-5px;  
    
    }
     .b1h2Title{  
        font-size: 30px; 
         margin-left: -7px; 
        margin-top: -11px;
        
    } 
     .b1h3Title{
        font-size: 19px;
         margin-left: -5px; 
        margin-top: -11px;
    
        
    }  
    .appIMGwrapp{
        height: 300px;
        /* background-color:red;         */
        margin-top: -37px; 
    } 
    .b1bannerImg{
        height: 278px; 
        margin: auto;
        box-sizing: border-box;
        
       
         
        
     }
     .carousel-control-prev{

        height: 38px!important;
        width: 38px;
        margin-top: 554px;
        
        
     }  
      .carousel-control-next{
        height: 38px!important;
        width: 38px;
        margin-top: 554px;
         margin-right: 10px;
         
    
    
     } 
     .glyphicon-chevron-left{
         font-size: 22px!important;
         margin-top: -13px!important;
         margin-left: -12px!important;

     } 
     .glyphicon-chevron-right{
        font-size: 22px!important;
        margin-top: -13px!important;
        margin-right: -12px!important;
    }
    




   }
   









